<%= form_with(model: booking, local: true, url: url, class: "needs-validation", html: { novalidate: :novalidate }) do |form| %>
  <ul class="formline">
    <li>
      <h4 class="font-weight-bold">Personal Details</h4>
      <div class="row">
        <div class="col-md-6 mb-3">
          <%= form.label :name, "Name" %>
          <%= form.text_field :name, class: "form-control", required: true, autofocus: auto_focus(booking, form_field: :name) %>
          <div class="invalid-feedback">
            <%= "Please enter your name" %>
          </div>
          <% if @booking.errors[:name].present? %>
            <div class="invalid-feedback" style="display: block;">
              Please enter a valid name
            </div>
          <% end %>
        </div>
        <div class="col-md-6 mb-3">
          <%= form.label :email %>
          <%= form.text_field :email, class: "form-control", required: true, autofocus: auto_focus(booking, form_field: :email) %>
          <div class="invalid-feedback">
            <%= "Please enter a valid email" %>
          </div>
          <% if @booking.errors[:email].present? %>
            <div class="invalid-feedback" style="display: block;">
              Please enter a valid email
            </div>
          <% end %>
        </div>
        <div class="col-md-6 mb-3">
          <%= form.label :phone_number %>
          <%= form.text_field :phone_number, class: "form-control", required: true, autofocus: auto_focus(booking, form_field: :phone_number, default_auto_focus: true) %>
          <div class="invalid-feedback">
            <%= "Please enter your phone number" %>
          </div>
          <% if @booking.errors[:phone_number].present? %>
            <div class="invalid-feedback" style="display: block;">
              Please enter a valid phone number
            </div>
          <% end %>
        </div>
        <div class="col-md-6 mb-3">
          <%= form.label :date_of_birth %>
          <%= form.date_field :date_of_birth, class: "form-control", required: true, autofocus: auto_focus(booking, form_field: :date_of_birth) %>
          <div class="invalid-feedback">
            <%= "Please enter your date my birth" %>
          </div>
          <% if @booking.errors[:date_of_birth].present? %>
            <div class="invalid-feedback" style="display: block;">
              Please enter a valid date of birth
            </div>
          <% end %>
        </div>
        <div class="col-md-12 mb-3">
         <hr class="mb-5">
          <%= form.label :address %>
          <%= form.text_field :address, class: "form-control", required: true, autofocus: auto_focus(booking, form_field: :address) %>
          <div class="invalid-feedback">
            Please enter a valid address
          </div>
          <% if @booking.errors[:address].present? %>
            <div class="invalid-feedback" style="display: block;">
              Please enter your address
            </div>
          <% end %>
        </div>
        <div class="col-md-3 mb-3">
          <%= form.label :city %>
          <%= form.text_field :city, class: "form-control", required: true, autofocus: auto_focus(booking, form_field: :city) %>
          <div class="invalid-feedback">
            Please enter your city
          </div>
          <% if @booking.errors[:date_of_birth].present? %>
            <div class="invalid-feedback" style="display: block;">
              Please enter a valid date of birth
            </div>
          <% end %>
        </div>
        <div class="col-md-3 mb-3">
          <%= form.label :county, "County/State" %>
          <%= form.text_field :county, class: "form-control", required: true, autofocus: auto_focus(booking, form_field: :county) %>
          <div class="invalid-feedback">
            Please enter your county/state
          </div>
          <% if @booking.errors[:county].present? %>
            <div class="invalid-feedback" style="display: block;">
              Please enter your county/state
            </div>
          <% end %>
        </div>
        <div class="col-md-3 mb-3">
          <%= form.label :post_code, "Post code/Zip code" %>
          <%= form.text_field :post_code, class: "form-control", required: true, autofocus: auto_focus(booking, form_field: :post_code) %>
          <div class="invalid-feedback">
            Please enter your post/zip code
          </div>
          <% if @booking.errors[:post_code].present? %>
            <div class="invalid-feedback" style="display: block;">
              Please enter your post/zip code
            </div>
          <% end %>
        </div>
        <div class="col-md-3 mb-3">
          <%= form.label :country %>
          <%= form.country_select :country, { priority_countries: ["AD", "AT", "BE", "BG", "HR", "CZ", "DK", "EE", "FR", "FI", "DE", "GI", "GR", "HU", "IS", "IE", "IT", "LV", "LU", "ME", "NL", "NO", "PL", "PT", "RO", "RS", "SK", "SI", "ES", "SE", "CH", "GB"]}, { class: "form-control customSelect" }, required: true, autofocus: auto_focus(booking, form_field: :country)  %>
        </div>
      </div>
      <hr class="mb-5 mb-4">
    </li>
    <li>
      <h4 class="font-weight-bold">Next of Kin</h4>
      <div class="row">
        <div class="col-md-5 mb-3">
          <%= form.label :next_of_kin_name, "Name" %>
          <%= form.text_field :next_of_kin_name, class: "form-control", required: true, autofocus: auto_focus(booking, form_field: :next_of_kin_name) %>
          <div class="invalid-feedback">
            Please enter next of kin name
          </div>
          <% if @booking.errors[:next_of_kin_name].present? %>
            <div class="invalid-feedback" style="display: block;">
              Please enter next of kin name
            </div>
          <% end %>
        </div>
        <div class="col-md-4 mb-3">
          <%= form.label :next_of_kin_phone_number, "Phone number" %>
          <%= form.text_field :next_of_kin_phone_number, class: "form-control", required: true, autofocus: auto_focus(booking, form_field: :next_of_kin_phone_number) %>
          <div class="invalid-feedback">
            Please enter valid phone number
          </div>
          <% if @booking.errors[:next_of_kin_phone_number].present? %>
            <div class="invalid-feedback" style="display: block;">
              Please enter valid phone number
            </div>
          <% end %>
        </div>
      </div>
      <hr class="mb-5 mb-4">
    </li>
    <li>
      <h4 class="mb-3 font-weight-bold">Dietary and Health Requirements (optional)</h4>
      <h5 class="pt-3">Dietary Requirements</h5>
      <div class="row">
        <div class="col-md-12 mb-3">
          <label class="radiocontainer">
            <%= form.radio_button(:dietary_requirements, :none, checked: true) %>
            None
            <span class="customradio"></span>
          </label>
          <label class="radiocontainer">
            <%= form.radio_button(:dietary_requirements, :vegetarian) %>
            Vegetarian
            <span class="customradio"></span>
          </label>
          <label class="radiocontainer">
            <%= form.radio_button(:dietary_requirements, :vegan) %>
            Vegan
            <span class="customradio"></span>
          </label>
          <label class="radiocontainer">
            <%= form.radio_button(:dietary_requirements, :other) %>
            Other <i>(please add note below)</i>
            <span class="customradio"></span>
          </label>
        </div>
      </div>
      <h5 class="pt-3">Allergies</h5>
      <div class="row">
        <div class="col-md-12 mb-3">
          <label class="radiocontainer">
            <%= form.radio_button(:allergies, :none, checked: true) %>
            None
            <span class="customradio"></span>
          </label>
          <label class="radiocontainer">
            <%= form.radio_button(:allergies, :dairy) %>
            Dairy
            <span class="customradio"></span>
          </label>
          <label class="radiocontainer">
            <%= form.radio_button(:allergies, :eggs) %>
            Eggs
            <span class="customradio"></span>
          </label>
          <label class="radiocontainer">
            <%= form.radio_button(:allergies, :nuts) %>
            Nuts
            <span class="customradio"></span>
          </label>
          <label class="radiocontainer">
            <%= form.radio_button(:allergies, :penicllin) %>
            Penicillin
            <span class="customradio"></span>
          </label>
          <label class="radiocontainer">
            <%= form.radio_button(:allergies, :soya) %>
            Soya
            <span class="customradio"></span>
          </label>
          <label class="radiocontainer">
            <%= form.radio_button(:allergies, :other) %>
            Other <i>(please add note below)</i>
            <span class="customradio"></span>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-3">
          <%= form.label(:other_information, "Medical/Other information") %>
          <%= form.text_area(:other_information, class: "form-control" ) %>
        </div>
      </div>
      <!-- Other information? .. .where will they enter other/multiple dietary / allergies ?-->
    </li>
  </ul>
  <%= form.submit "Complete Booking", class: "btn btn-primary btn-lg btn-block mt-4" %>
<% end %>
