<%= form_with(model: booking, local: true, url: public_booking_path(@booking), class: "needs-validation", html: { novalidate: :novalidate }, data: { controller: "country-auto-select" }) do |form| %>
  <ul class="formline">
    <li>
      <h4 class="font-weight-bold">Personal Details</h4>
      <div class="row">
        <div class="col-md-6 mb-3">
          <%= form.label :name, "Full Name" %>
          <%= form.text_field :name, class: "#{'is-invalid' if @booking.errors[:name].present?} form-control", required: true, autofocus: auto_focus(booking, form_field: :name), readonly: @booking.organisation_on_trial? %>
          <div class="invalid-feedback">
            <%= "Please enter your name" %>
          </div>
          <% if @booking.errors[:name].present? %>
            <div class="invalid-feedback" style="display: block;">
              Please enter a valid name
            </div>
          <% end %>
        </div>
        <div class="col-md-6 mb-3">
          <%= form.label :email %>
          <%= form.text_field :email, class: "#{'is-invalid' if @booking.errors[:email].present?} form-control", required: true, autofocus: auto_focus(booking, form_field: :email), readonly: @booking.organisation_on_trial? %>
          <div class="invalid-feedback">
            <%= "Please enter a valid email" %>
          </div>
          <% if @booking.errors[:email].present? %>
            <div class="invalid-feedback" style="display: block;">
              Please enter a valid email
            </div>
          <% end %>
        </div>
        <div class="col-md-4 mb-3">
          <%= form.label :phone_number %>
          <% if @booking.organisation_on_trial? %>
            <%= form.text_field :phone_number, value: trial_example_phone_or_nil(@booking), class: "#{'is-invalid' if @booking.errors[:phone_number].present?} form-control", required: true, autofocus: auto_focus(booking, form_field: :phone_number, default_auto_focus: true), readonly: @booking.organisation_on_trial? %>
          <% else %>
            <%= form.text_field :phone_number, value: trial_example_phone_or_nil(@booking), class: "#{'is-invalid' if @booking.errors[:phone_number].present?} form-control", required: true, autofocus: auto_focus(booking, form_field: :phone_number, default_auto_focus: true), data: { target: "country-auto-select.phoneField" }, readonly: @booking.organisation_on_trial? %>
          <% end %>
          <div class="invalid-feedback">
            <%= "Please enter your phone number" %>
          </div>
          <% if @booking.errors[:phone_number].present? %>
            <div class="invalid-feedback" style="display: block;">
              Please enter a valid phone number
            </div>
          <% end %>
        </div>
        <div class="col-md-4 mb-3">
          <%= form.label :date_of_birth %>
          <%= form.date_field :date_of_birth, value: trial_example_dob_or_nil(@booking), class: "#{'is-invalid' if @booking.errors[:date_of_birth].present?} form-control", required: true, autofocus: auto_focus(booking, form_field: :date_of_birth),readonly: @booking.organisation_on_trial? %>
          <div class="invalid-feedback">
            <%= "Please enter your date my birth" %>
          </div>
          <% if @booking.errors[:date_of_birth].present? %>
            <div class="invalid-feedback" style="display: block;">
              Please enter a valid date of birth
            </div>
          <% end %>
        </div>
        <div class="col-md-4 mb-3">
          <%= form.label :country %>
          <% if @booking.organisation_on_trial? %>
            <%= form.select :country, options_for_select([trial_example_country]), {} , { class: "form-control customselect", style: "background-color: #e9ecef;" } %>
          <% else %>
            <%= form.country_select :country, { priority_countries: ["AD", "AT", "BE", "BG", "HR", "CZ", "DK", "EE", "FR", "FI", "DE", "GI", "GR", "HU", "IS", "IE", "IT", "LV", "LU", "ME", "NL", "NO", "PL", "PT", "RO", "RS", "SK", "SI", "ES", "SE", "CH", "GB"]}, { class: "form-control customselect", data: { target: "country-auto-select.countrySelectField" } }, required: true, autofocus: auto_focus(booking, form_field: :country), disabled: @booking.organisation_on_trial? %>
          <% end %>
        </div>
      </div>
      <hr class="mb-5 mb-4">
    </li>
    <li>
      <h4 class="font-weight-bold">In Case of Emergency (ICE)</h4>
      <div class="row">
        <div class="col-md-6 mb-3">
          <%= form.label :next_of_kin_name, "Name" %>
          <%= form.text_field :next_of_kin_name, value: trial_example_ice_name_or_nil(@booking), class: "#{'is-invalid' if @booking.errors[:next_of_kin_name].present?} form-control", required: true, autofocus: auto_focus(booking, form_field: :next_of_kin_name), readonly: @booking.organisation_on_trial? %>
          <div class="invalid-feedback">
            Please enter the name of your emergency contact
          </div>
          <% if @booking.errors[:next_of_kin_name].present? %>
            <div class="invalid-feedback" style="display: block;">
              Please enter the name of your emergency contact
            </div>
          <% end %>
        </div>
        <div class="col-md-6 mb-3">
          <%= form.label :next_of_kin_phone_number, "Phone number" %>
          <% if @booking.organisation_on_trial? %>
            <%= form.text_field :next_of_kin_phone_number, value: trial_example_ice_phone_or_nil(@booking), class: "#{'is-invalid' if @booking.errors[:next_of_kin_phone_number].present?} form-control", required: true, autofocus: auto_focus(booking, form_field: :next_of_kin_phone_number), readonly: @booking.organisation_on_trial? %>
          <% else %>
            <%= form.text_field :next_of_kin_phone_number, value: trial_example_ice_phone_or_nil(@booking), class: "#{'is-invalid' if @booking.errors[:next_of_kin_phone_number].present?} form-control", required: true, autofocus: auto_focus(booking, form_field: :next_of_kin_phone_number), data: { target: "country-auto-select.phoneField" }, readonly: @booking.organisation_on_trial? %>
          <% end %>
          <div class="invalid-feedback">
            Please enter a valid phone number of your emergency contact
          </div>
          <% if @booking.errors[:next_of_kin_phone_number].present? %>
            <div class="invalid-feedback" style="display: block;">
              Please enter a valid phone number of your emergency contact
            </div>
          <% end %>
        </div>
      </div>
      <hr class="mb-5">
    </li>
    <li>
      <h4 class="mb-4 font-weight-bold">Dietary and Health Requirements (optional)</h4>
      <div class="custom-multiselect mb-4">
        <div class="selectbox">
           <select class="form-control customselect">
              <option>Select any dietary requirements and allergies</option>
           </select>
           <div class="selectwrapper" data-target="checkbox-dropdown.selectWrapper"></div>
        </div>
        <div id="selectoptions" data-target="checkbox-dropdown.selectOptionsContainer">
          <div class="row selectoptionblock">
            <div class="col-12"><h4 class="font-weight-bold">Dietary requirements</h4></div>
            <% DietaryRequirement::POSSIBLE_DIETARY_REQUIREMENTS.each do |dietary_requirement| %>
              <div class="col-12 col-md-4">
                <label class="checkcontainer">
                  <%= dietary_requirement.capitalize %> <%= "<i>(please add note below) </i>".html_safe if dietary_requirement == "other" %>
                  <%= check_box_tag("booking[dietary_requirements][]", dietary_requirement.to_sym) %>
                  <span class="customcheck"></span>
                </label>
              </div>
            <% end %>
          </div>
          <div class="row selectoptionblock">
            <div class="col-12">
              <h4 class="font-weight-bold">Food Allergies</h4>
            </div>
            <% Allergy::POSSIBLE_FOOD_ALLERGIES.each do |allergy| %>
              <div class="col-12 col-md-4">
                <label class="checkcontainer">
                  <%= allergy.capitalize %> <%= "<i>(please add note below) </i>".html_safe if allergy == "other" %>
                  <%= check_box_tag("booking[allergies][]", allergy.to_sym) %>
                  <span class="customcheck"></span>
                </label>
              </div>
            <% end %>
            <div class="col-12 mt-4">
              <h4 class="font-weight-bold">Medical Allergies</h4>
            </div>
            <% Allergy::POSSIBLE_MEDICAL_ALLERGIES.each do |allergy| %>
              <div class="col-12 col-md-4">
                <label class="checkcontainer">
                  <%= allergy.capitalize %> <%= "<i>(please add note below) </i>".html_safe if allergy == "other" %>
                  <%= check_box_tag("booking[allergies][]", allergy.to_sym) %>
                  <span class="customcheck"></span>
                </label>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 mb-3">
          <%= form.label(:other_information, "Medical/Other information") %>
          <%= form.text_area(:other_information, class: "form-control") %>
        </div>
      </div>
      <!-- Other information? .. .where will they enter other/multiple dietary / allergies ?-->
    </li>
  </ul>
  <%= form.submit "Complete Booking", class: "btn btn-primary btn-lg btn-block mt-4" %>
<% end %>
<% if booking.organisation_on_trial? %>
  <div class="onboard-message fullwidth text-center">
    <i class="fa fa-info-circle fa-lg text-secondary"></i> All done! Now hit that big button ☝️ and complete this beautiful booking.
  </div>
<% end %>
