<%= form_with(model: booking, local: true, url: url) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>
      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <ul class="formline">
    <li>
      <h4 class="font-weight-bold">Personal Details</h4>
      <div class="row">
        <div class="col-md-6 mb-3">
          <%= form.label :name, 'Name' %>
          <%= form.text_field :name, class: "form-control", required: true %>
        </div>
        <div class="col-md-6 mb-3">
          <%= form.label :email %>
          <%= form.text_field :email, class: "form-control", required: true %>
        </div>
        <div class="col-md-6 mb-3">
          <%= form.label :phone_number %>
          <%= form.text_field :phone_number, class: "form-control", required: true %>
        </div>
        <div class="col-md-6 mb-3">
          <%= form.label :date_of_birth %>
          <%= form.date_field :date_of_birth, class: "form-control" %>
        </div>
        <div class="col-md-12 mb-3">
         <hr class="mb-5">
          <%= form.label :address %>
          <%= form.text_field :address, class: "form-control", required: true %>
        </div>
        <div class="col-md-3 mb-3">
          <%= form.label :city %>
          <%= form.text_field :city, class: "form-control", required: true %>
        </div>
        <div class="col-md-3 mb-3">
          <%= form.label :county, "County/State" %>
          <%= form.text_field :county, class: "form-control", required: true %>
        </div>
        <div class="col-md-3 mb-3">
          <%= form.label :post_code, "Post code/Zip code" %>
          <%= form.text_field :post_code, class: "form-control", required: true %>
        </div>
        <div class="col-md-3 mb-3">
          <%= form.label :country%>
          <%= form.text_field :country, class: "form-control", required: true %>
        </div>
      </div>
      <hr class="mb-5 mb-4">
    </li>
    <li>
      <h4 class="font-weight-bold">Next of Kin</h4>
      <div class="row">
        <div class="col-md-5 mb-3">
          <%= form.label :next_of_kin_name, "Name" %>
          <%= form.text_field :next_of_kin_name, class: "form-control", required: true %>
        </div>
        <div class="col-md-4 mb-3">
          <%= form.label :next_of_kin_phone_number, "Phone number" %>
          <%= form.text_field :next_of_kin_phone_number, class: "form-control", required: true %>
        </div>
      </div>
      <hr class="mb-5 mb-4">
    </li>
    <li>
      <!-- TODO: plug in real data -->
      <h4 class="mb-3 font-weight-bold">Dietary and Health Requirements (optional)</h4>
      <div class="row">
        <div class="col-md-12 mb-3">
          <input type="radio" name="diet" value="none" checked>
          <label for="none" class="mr-4">None</label>
          <input type="radio" name="diet" value="vegetarian">
          <label for="vegetarian" class="mr-4">Vegetarian</label>
          <input type="radio" name="diet" value="vegan">
          <label for="vegan" class="mr-4">Vegan</label>
          <input type="radio" name="diet" value="other">
          <label for="vegan">Other <i>(please add note below)</i></label>
        </div>
        <div class="col-md-12 mb-3">
          <label for="allergies">Allergies</label>
          <textarea class="form-control" name="allergies"></textarea>
        </div>
        <div class="col-md-12 mb-3">
          <label for="medical">Medical Conditions</label>
          <textarea class="form-control" name="medical"></textarea>
        </div>
        <!-- Other information? -->
      </div>
    </li>
  </ul>
  <%= form.submit "Complete Booking", class: "btn btn-primary btn-lg btn-block mt-4" %>
<% end %>
