<!-- 
Do we need a confirmation step - just before payment?
ex: a modal with the summary payment to be made? 
An extra step - but a definite confirmation from the user.
-->

<%= form_with(model: booking, local: true, url: public_trip_bookings_path(@trip.slug), class: "needs-validation payment-form", html: { novalidate: :novalidate }, method: :post, data: { controller: "stripe--card", stripe__card_key: booking.stripe_publishable_key, target: "stripe--card.form" }) do |form| %>
  <% # reinstate error / warning notices %>
  <!-- <div class="alert alert-warning" role="alert"><%= notice %></div>
  <div class="alert alert-warning" role="alert"><%= alert %></div> -->
  <h4 class="mb-3 font-weight-bold">Your Details</h4>
  <% if booking.organisation_on_trial? %>
    <div class="onboard-message fullwidth">
      <i class="fa fa-info-circle fa-lg text-secondary"></i> <strong>Psst...</strong>
      <br>
      You're in trial, so the form is filled with pretend data so you can see what a booking looks like.<br>
      When you complete the sign up process, you can put real bookings & money through here. 😀
      <br>
      <strong>PS:</strong>
      <br>
      When you complete your set up, none of this text will be here. It's only visible to you.
      <br>
      If you want to skip the trial, you can <a href="" data-toggle="modal" data-target="#accountModal">complete your set up here</a>.
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-12 mb-3">
      <%= form.label :name, "Full Name" %>
      <%= form.text_field :name, value: trial_example_full_name_or_nil(booking), class: "#{ 'is-invalid' if @booking.errors[:name].present?} form-control", autofocus: auto_focus(booking, form_field: :name, default_auto_focus: true), required: true, readonly: booking.organisation_on_trial? %>
      <div class="invalid-feedback">
        <%= "Please enter your name" %>
      </div>
      <% if @booking.errors[:name].present? %>
      <div class="invalid-feedback" style="display: block;">
        Please enter a valid name
      </div>
    <% end %>
    </div>
  </div>
  <div class="mb-3">
    <%= form.label :email %>
    <%= form.text_field :email, value: trial_example_email_or_nil(booking), class: "#{ 'is-invalid' if @booking.errors[:email].present?} form-control", autofocus: auto_focus(booking, form_field: :email), required: true, readonly: booking.organisation_on_trial? %>
    <div class="invalid-feedback">
      Please enter a valid email
    </div>
    <% if @booking.errors[:email].present? %>
      <div class="invalid-feedback" style="display: block;">
        Please enter a valid email
      </div>
    <% end %>
  </div>
  <hr class="mb-5 mb-4">
  <h4 class="mb-3 font-weight-bold">
    <% if @booking.only_paying_deposit? %>Deposit <% end %>Payment of <%= @booking.human_readable_amount_due %>
    </h4>
  <div class="row">
    <div class="col-md-12 mb-3">
      <% if booking.organisation_on_trial? %>
        <span>Credit or debit card number</span> <span style="padding-left: 265px;">MM / YY</span> <span style="padding-left: 18px;">CVC</span>
        <%= text_field_tag :fake_card_details, "4242 4242 4242 4242                                                          #{1.year.from_now.strftime("%m / %y")}    123", class: "form-control", required: true, readonly: true %>
        <div class="onboard-message fullwidth">
          <i class="fa fa-info-circle fa-lg text-secondary"></i> This is just a pretend card number. Don't worry, <%= trial_example_first_name %> isn't really going to get charged. 
        </div>
      <% else %>
        <label for="card-element">Credit or debit card</label>
        <div data-target="stripe--card.cardElement">
          <!-- A Stripe Element will be inserted here. -->
        </div>
        <!-- Used to display Element errors. -->
        <div data-target="stripe--card.cardErrors" role="alert"></div>
      <% end %>
    </div>
  </div>
  <div class="actions">
    <%= form.submit "Book My Place", class: "btn btn-primary btn-lg btn-block mt-4 mb-4", data: { target: "stripe--card.submitButton" } %>
  </div>
  <% if booking.organisation_on_trial? %>
    <div class="onboard-message fullwidth text-center">
      <i class="fa fa-info-circle fa-lg text-secondary"></i> Now hit that big button ☝️and see what happens next...
    </div>
  <% end %>
<% end %>
<%= render partial: "layouts/modals/stripe_account_setup" %>
