<!-- 
Do we need a confirmation step - just before payment?
ex: a modal with the summary payment to be made? 
An extra step - but a definite confirmation from the user.
-->

<%= form_with(model: booking, local: true, url: public_trip_bookings_path(@trip.slug), class: "needs-validation", html: { novalidate: :novalidate }, method: :post, data: { controller: "stripe--payment-intent form-validation", stripe__payment_intent_key: booking.stripe_publishable_key, stripe__payment_intent_secret: @payment_intent.client_secret,target: "stripe--payment-intent.form", stripe__payment_intent_create_booking_url: public_trip_bookings_path, stripe__payment_intent_connected_account_id: booking.organisation_stripe_account_id}) do |form| %>
  <% # reinstate error / warning notices %>
  <!-- <div class="alert alert-warning" role="alert"><%= notice %></div>
  <div class="alert alert-warning" role="alert"><%= alert %></div> -->
  <h4 class="mb-3 font-weight-bold font-serif">Your Details</h4>
  <div class="row">
    <div class="col-md-12 mb-3">
      <%= form.label :name, "Full Name", class: "text-uppercase text-secondary" %>
      <%= form.text_field :name, value: trial_example_full_name_or_nil(booking), class: "#{ 'is-invalid' if @booking.errors[:name].present?} form-control", data: { target: "stripe--payment-intent.field" }, autofocus: auto_focus(booking, form_field: :name, default_auto_focus: true), required: true, readonly: booking.organisation_on_trial?, pattern: Regex::NAME_FORM.source %>
      <div class="invalid-feedback">
        <%= "Please enter a valid name" %>
      </div>
      <% if @booking.errors[:name].present? %>
        <div class="invalid-feedback" style="display: block;">
          Please enter a valid name
        </div>
      <% end %>
    </div>
  </div>
  <div class="mb-5">
    <%= form.label :email, class: "text-uppercase text-secondary" %>
    <%= form.text_field :email, value: trial_example_email_or_nil(booking), class: "#{ 'is-invalid' if @booking.errors[:email].present?} form-control", data: { target: "stripe--payment-intent.field" }, autofocus: auto_focus(booking, form_field: :email), required: true, readonly: booking.organisation_on_trial?, pattern: Regex::EMAIL_FORM.source %>
    <div class="invalid-feedback">
      Please enter a valid email
    </div>
    <% if @booking.errors[:email].present? %>
      <div class="invalid-feedback" style="display: block;">
        Please enter a valid email
      </div>
    <% end %>
  </div>
  <h4 class="mb-3 font-weight-bold font-serif">
    <% if @booking.only_paying_deposit? %>Deposit <% end %>Payment of <%= @booking.human_readable_amount_due %>
  </h4>
  <div class="row">
    <div class="col-md-12 mb-3">
      <% if booking.organisation_on_trial? %>
        <span class="text-uppercase text-secondary">Credit or debit card number</span> <span style="padding-left: 233px;">MM / YY</span> <span style="padding-left: 20px;">CVC</span>
        <%= text_field_tag :fake_card_details, "4242 4242 4242 4242                                                          #{1.year.from_now.strftime("%m / %y")}    123", class: "form-control", required: true, readonly: true %>
      <% else %>
        <label for="card-element" class="text-uppercase text-secondary">Credit or debit card</label>
        <div data-target="stripe--payment-intent.cardElement">
          <!-- A Stripe Element will be inserted here. -->
        </div>
        <!-- Used to display Element errors. -->
        <div data-target="stripe--payment-intent.cardErrors" role="alert"></div>
      <% end %>
    </div>
  </div>
  <div class="actions text-center">
    <%= form.submit "Book My Place", class: "btn btn-primary btn-lg rounded uppercase mt-4 mb-4", data: { target: "stripe--payment-intent.submitButton" } %>
  </div>
  <% if @booking.only_paying_deposit? %>
    <small>
    By submitting this payment I authorise <%= @current_organisation.name || "you" %> to send instructions to my card issuer to take an initial deposit (<%= @booking.human_readable_amount_due %> now) and then a full payment (<%= @booking.human_readable_full_cost_minus_deposit %> on <%= @booking.human_readable_full_payment_date %>) from my card.
    </small>
  <% end %>
  <%= hidden_field_tag :payment_intent_id, @payment_intent.id %>
<% end %>
<%= render partial: "layouts/modals/stripe_account_setup" %>