  <div class="container-fluid full-height" data-container="edit-booking">
    <div class="row row-height">
      <div class="col-lg-4 content-left" style="">
        <div class="content-left-wrapper bg_img">
          <div class="wrapper">
            <div class="py-4 text-center">
              <% if @booking.organisation.logo_image.attached? %>
                <%= image_tag url_for(@booking.organisation_logo_image), class: "d-block mx-auto mb-4 logo" %>
              <% end %>
              <h1 class="font-weight-bold mb-0"><%= @booking.trip_name %></h1>
              <h3>
                <%= "#{@booking.start_date.day} - #{@booking.end_date.day} #{Date::MONTHNAMES[@booking.end_date.month]}" %>
              </h3>
              <div id="summary">
                <p class="collapse" id="collapseSummary">
                  <%= @booking.trip_description %>
                </p>
                <a class="collapsed" data-toggle="collapse" href="#collapseSummary" aria-expanded="false" aria-controls="collapseSummary"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col content-right editbooking">
        <div class="mt-4">
          <h2 class="font-weight-bold">Hi <%= @booking.name %>, your payment was successful.</h2>
          <h4 class="mb-4">Your booking is almost complete. <br>Please fill in your details below, to make sure your trip runs smoothly.</h4>
          <%= render "edit_form", booking: @booking %>
        </div>
      </div>
    </div>
  </div>
</div>
