<style>
  <% if @booking.organisation.background_color? %>
    .bg-skew::before {
      background: <%= @booking.organisation.background_color %>
    }
  <% end %>
</style>

<% if @booking.organisation_on_trial? %>
  <div data-controller="modal-onload">
    <div class="modal fade" id="onloadModal" tabindex="-1" role="dialog" aria-labelledby="trialModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close dark" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="card col-md-12">
              <div class="card-body p-0 row">
                <div class="offset-lg-1 col-lg-10">
                  <div class="mt-2">
                    <div class="text-center">
                      <h2 class="font-weight-bold">Example New Booking Walkthrough 🚶‍♂</h2>
                    </div>
                    <p>We'll show you what your guests will see when you share your new booking link with them.</p>
                    <p>As you’re in trial, we’ve filled in the forms with pretend guest data.</p>
                    <p>When you’re out of trial, and your account is live, the forms will be clear of example data.</p>
                    <p>Then you can share this link with <i>real</i> guests and accept <i>real</i> 💰 in to your account.</p>
                    <p>Just press the big blue button on each screen 👇 to proceed</p>
                  </div>
                  <div class="text-center my-4">
                    <button type="button" class="btn btn-primary btn-lg rounded uppercase" data-dismiss="modal">OK, Let's go</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<main id="main" data-controller="toggle-trip-description">
  <section class="d-flex align-items-center bg-skew bg-skew-primary overflow-hidden text-white">
    <div class="container mb-xl-5 pt-4">
      <div class="row justify-content-center text-center">
        <div class="col-lg-10">
          <h1 class="display-1 font-serif mb-2 <%= 'cancelled-trip' if @booking.trip_cancelled? %>"><%= @booking.trip_name %></h1>
          <h4 class="text-uppercase mb-1">
            <%= "#{@booking.start_date.day} - #{@booking.end_date.day} #{Date::MONTHNAMES[@booking.end_date.month]}" %>
          </h4>
          <div id="summary">
            <p class="px-sm-5 mx-sm-5 collapse" id="collapseSummary" data-target="toggle-trip-description.tripDescriptionSource">
              <%= @booking.trip_description %>
            </p>

          <div data-target="toggle-trip-description.toggleLinkSource">
            <a class="collapsed btn btn-pill btn-primary rounded btn-sm" data-toggle="collapse" href="#collapseSummary" aria-expanded="false" aria-controls="collapseSummary"></a>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container pt-5">
    <div class="row">
      <div class="col-lg-4 col-xl-4 offset-xl-1 mb-5 order-lg-12">
        <aside class="bg-white shadow rounded mt-lg-n5 p-4 sticky-top">
          <% if @booking.organisation.logo_image.attached? %>
            <%= image_tag url_for(@booking.organisation_logo_image), class: "d-block mx-auto p-4" %>
          <% end %>
          <dl class="mb-0">
            <dt class="h3 font-serif pb-4 pt-1 text-center border-bottom">
              Trip Cost
            </dt>
            <% if @booking.only_paying_deposit? %>
            <dt class="h4 font-weight-light text-uppercase text-secondary mb-2 pt-2">
              Deposit due now
            </dt>
            <dd class="h2 mb-0 font-serif"><%= @booking.human_readable_amount_due %></dd>
            <% end %>
            <% if @booking.only_paying_deposit? %>
            <dd class="font-weight-light mb-0 pb-4 border-bottom">
              <small class="text-secondary"
                >Outstanding balance of <%= @booking.human_readable_full_cost_minus_deposit %><br />
                will be taken on <%= @booking.human_readable_full_payment_date %></small
              >
              <!-- TODO: do we really need this info (below) ? -->
                <!-- TODO: need to show a warning when there's no spaces left on the trip -->
                <% # @booking.trip_maximum_number_of_guests - @booking.trip_guest_count %>
            </dd>
            <% end %>
            <dt class="h4 font-weight-light text-uppercase text-secondary mb-2 pt-4">
              Total cost
            </dt>
            <dd class="h1 mb-0 font-serif">
              <%= @booking.human_readable_full_cost %>
            </dd>
          </dl>
        </aside>
      </div>
      <div class="col-lg-8 col-xl-7 mb-4 order-lg-1">
        <%= render "new_form", booking: @booking %>
      </div>
    </div>
  </section>
</main>