  <div class="container-fluid full-height">
    <div class="row row-height">
      <div class="col-lg-4 content-left" style="">
        <div class="content-left-wrapper bg_img">
          <div class="wrapper">
            <div class="py-4 text-center">
              <% if @booking.organisation.logo_image.attached? %>
                <%= image_tag url_for(@booking.organisation_logo_image), class: "d-block mx-auto mb-4 logo" %>
              <% end %>
              <h1 class="font-weight-bold mb-0 <%= 'cancelled-trip' if @booking.trip_cancelled? %>"><%= @booking.trip_name %></h1>
              <h3 class="mb-5">
                <%= "#{@booking.start_date.day} - #{@booking.end_date.day} #{Date::MONTHNAMES[@booking.end_date.month]}" %>
              </h3>
              <% if @booking.only_paying_deposit? %>
                <h2 class="mb-1"><span class="h4 mr-2 font-weight-light">Deposit due: </span> <%= @booking.human_readable_amount_due %></h2>
              <% end %>
              <% if @booking.only_paying_deposit? %>
                <h5 class="mb-3"><%= @booking.human_readable_full_cost_minus_deposit %> will be taken on <%= @booking.human_readable_full_payment_date %></h5>
              <% end %>
              <h1 class="<%= 'mb-0' if @booking.only_paying_deposit? %>"><span class="h2 mr-3 font-weight-light">Total:</span><%= @booking.human_readable_full_cost %></h1>
              <div id="summary" class="mt-5">
                <p class="collapse" id="collapseSummary">
                  <%= @booking.trip_description %>
                </p>
                <a class="collapsed" data-toggle="collapse" href="#collapseSummary" aria-expanded="false" aria-controls="collapseSummary"></a>
              </div>
            </div>
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <!-- TODO: do we really need this info (below) ? -->
              <!-- <span>Places left for this trip</span> -->
              <!-- <span class="badge badge-secondary badge-pill"> -->
                <!-- TODO: need to show a warning when there's no spaces left on the trip -->
                <% # @booking.trip_maximum_number_of_guests - @booking.trip_guest_count %>
              <!-- </span> -->
            </h4>
          </div>
        </div>
      </div>
      <div class="col content-right new-onboarding">
        <%= render "new_form", booking: @booking %>
      </div>
    </div>
  </div>
</div>
