  <div class="container-fluid full-height">
    <div class="row row-height">
      <div class="col-lg-4 content-left" style="">
        <div class="content-left-wrapper bg_img">
          <div class="wrapper">
            <div class="py-4 text-center">
              <% if @booking.organisation.logo_image.attached? %>
                <%= image_tag url_for(@booking.organisation_logo_image), class: "d-block mx-auto mb-4 logo" %>
              <% end %>
              <h1 class="font-weight-bold mb-0"><%= @booking.trip_name %></h1>
              <h3>
                <%= "#{@booking.start_date.day} - #{@booking.end_date.day} #{Date::MONTHNAMES[@booking.end_date.month]}" %>
              </h3>
              <h1>Total: <%= "#{Currency.iso_to_symbol(@booking.currency)} #{Currency.human_readable(@booking.full_cost)}" %></h1>
              <p>
                <i><%= @booking.trip_description %></i>
              </p> 
            </div>
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <!-- TODO: do we really need this info (below) ? -->
              <!-- <span>Places left for this trip</span> -->
              <!-- <span class="badge badge-secondary badge-pill"> -->
                <!-- TODO: need to show a warning when there's no spaces left on the trip -->
                <% # @booking.trip_maximum_number_of_guests - @booking.trip_guest_count %>
              <!-- </span> -->
            </h4>
          </div>
        </div>
      </div>
      <div class="col-lg-7 content-right">
        <% # TODO: this will post to Stripe API - remove this form when it does %>
        <%= render 'new_form', booking: @booking, url: public_trip_bookings_path(@trip.slug) %>
      </div>
    </div>
  </div>
</div>

