  <div class="container-fluid full-height">
    <div class="row row-height">
      <div class="col-lg-4 content-left" style="">
        <div class="content-left-wrapper bg_img">
          <div class="wrapper">
            <div class="py-4 text-center">
              <% if @booking.organisation.logo_image.attached? %>
                <%= image_tag url_for(@booking.organisation_logo_image), class: "d-block mx-auto mb-4 logo" %>
              <% end %>
              <h1 class="font-weight-bold mb-0"><%= @booking.trip_name %></h1>
              <h3>
                <%= "#{@booking.start_date.day} - #{@booking.end_date.day} #{Date::MONTHNAMES[@booking.end_date.month]}" %>
              </h3>
              <div id="summary">
                <p class="collapse" id="collapseSummary">
                  <%= @booking.trip_description %>
                </p>
                <a class="collapsed" data-toggle="collapse" href="#collapseSummary" aria-expanded="false" aria-controls="collapseSummary"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7 content-right">
        <div class="mt-4">
          <h2 class="font-weight-bold">Congratulations <%= @booking.name %>, your booking is complete.</h2>
          <h4 class="mt-4">You will receive a confirmation email with your booking details shortly.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- TODO: If you don't reeieve the email, please: (1) Click here to resend, or 
(2) contact support: support@mybookingsherpa.com
-->