  <div class="container-fluid full-height">
    <div class="row row-height">
      <div class="col-lg-4 content-left" style="">
        <div class="content-left-wrapper bg_img">
          <div class="wrapper">
            <div class="py-4 text-center">
              <% if @booking.organisation.logo_image.attached? %>
                <%= image_tag url_for(@booking.organisation_logo_image), class: "d-block mx-auto mb-4 logo" %>
              <% end %>
              <h1 class="font-weight-bold mb-0"><%= @booking.trip_name %></h1>
              <h3>
                <%= "#{@booking.start_date.day} - #{@booking.end_date.day} #{Date::MONTHNAMES[@booking.end_date.month]}" %>
              </h3>
              <div id="summary">
                <p class="collapse" id="collapseSummary">
                  <%= @booking.trip_description %>
                </p>
                <a class="collapsed" data-toggle="collapse" href="#collapseSummary" aria-expanded="false" aria-controls="collapseSummary"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7 content-right">
        <div class="mt-4">
          <h2 class="font-weight-bold">All done! <%= @booking.name %>, your booking is complete.</h2>
          <h4 class="mt-4">You will receive a confirmation email with your booking details shortly.</h4>
          <% if @booking.organisation_on_trial? %>
            <p>
              <%= link_to "Click here to see status of #{@booking.trip_name }", guides_trips_path, class: "btn btn-sm btn-primary uppercase rounded mr-1" %> with <%= @booking.name %> as your new guest.
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- TODO: If you don't reeieve the email, please: (1) Click here to resend, or 
(2) contact support: support@mybookingsherpa.com
-->

<!-- In trial guide explainer modal -->
<% if @booking.organisation_on_trial? %>
  <div data-controller="modal-onload" data-modal-onload-delay="5000">
    <div class="modal fade" id="onloadModal" tabindex="-1" role="dialog" aria-labelledby="trialModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close dark" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="card col-md-12">
              <div class="card-body p-0 row">
                <div class="offset-lg-1 col-lg-10">
                  <div class="mt-2">
                    <div class="text-center">
                      <h2 class="font-weight-bold">🎉 All done! 🎉</h2>
                    </div>
                    <p><%= @booking.name %> is booked on your trip & the 💰 is on the way to your bank*.</p>
                    <p>Yes... it's that easy.</p>
                    <p>One last thing... you should receive two emails:</p>
                    <ul class="list-unstyled">
                      <li>
                        <i class="fa fa-envelope text-primary mr-1"></i>
                        <b>"You've Got A New Booking"</b> email you'll always get when you get a new booking.
                      </li>
                      <li>
                        <i class="fa fa-envelope text-primary mr-1"></i>
                        <b>"You're Booked on <%= @booking.trip_name %>"</b> email your guest would usually get*.
                      </li>
                    </ul>
                    <p><small><i>* when your account is live.</i></small></p>
                  </div>
                  <div class="text-center my-4">
                    <%= link_to "View My Trips", guides_trips_path, class: "btn btn-primary btn-sml rounded uppercase" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>