<body class="bg-light" data-controller="stripe--person" data-stripe--person-key="<%= @current_organisation.stripe_publishable_key %>">
  <div class="container-fluid full-height">
    <div class="row row-height">
      <div class="col-lg-4 content-left">
        <div class="content-left-wrapper bg_img bg4">
          <div class="onboard-logo"><img src="<%= asset_pack_path 'media/images/onboarding/logo-lt.svg' %>" alt="Logo"></div>
          <div class="wrapper">           
            <div class="mb-5 text-left">
              <h2 class="font-weight-bold">Almost Complete!</h2>
              <h2>Please enter the company's directors/owners</h2>
            </div> 
          </div>
        </div>
      </div>
      <div class="col onboard-right">
        <div class="row col-lg-11">
          <div class="col-md-12 mb-3"><%= link_to "Exit and return to my trips", guides_trips_path, class: "btn btn-outline-secondary float-right" %></div>
          <div class="col-md-12 mb-5 mt-3">
            <div class="progress">
              <div class="one primary-color"></div>
              <div class="two primary-color"></div>
              <div class="three primary-color"></div>
              <div class="four no-color"></div>
              <div class="progress-bar" style="width: 61%;"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4">
              <% if @current_organisation.company_people.any? %>
                <h5 class="mt-5 font-weight-bold">Completed Owners/Directors</h5>
                <div class="card border">
                  <div class="card-body">
                    <% @current_organisation.company_people.each do |company_person| %>
                      <h4 class="card-title"><%= "#{company_person.first_name} #{company_person.last_name}" %> <!-- TODO: <a href="#" class="btn btn-sm btn-primary float-right">edit</a> --></h4>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="p-2 col-sm-12 col-md-12 col-lg-8">
              <% # -- ref: https://stripe.com/docs/api/tokens/create_account %>
              <%= form_with(url: guides_welcome_company_people_path, local: true, class: "-needs-validation", html: { novalidate: :novalidate }, data: { target: "stripe--person.formDetails" }) do |form| %>
                <fieldset>
                  <div class="col-md-12"><h4 class="mb-3 font-weight-bold">Director's/Owner's relationship to company</h4></div>
                  <div class="row pl-3">
                    <div class="col col-md-6 mb-3">
                      <label class="radiocontainer">
                        <%= radio_button_tag(:relationship, :director, true, class: "", data: { action: "stripe--person#toggleCompanyRelationship", target: "stripe--person.director" }) %>
                        <span class="customradio"></span>
                        Director
                      </label>
                      <label class="radiocontainer">
                        <%= radio_button_tag(:relationship, :owner, false, class: "", data: { action: "stripe--person#toggleCompanyRelationship", target: "stripe--person.owner" }) %>
                        <span class="customradio"></span>
                        Owner
                      </label>
                    </div>
                  </div>

                  <div class="row pl-3">
                    <div class="col col-md-6 mb-3 d-none" data-target="stripe--person.percentOwnership" >
                      <%= label_tag :percent_ownership %>
                      <div class="input-group">
                        <%= number_field_tag "percent_ownership", "0", class: "form-control", data: { target: "stripe--person.percentOwnershipValue" } %>
                        <div class="input-group-append">
                          <span class="input-group-text form-control">%</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>

                <fieldset>
                  <div class="col-md-12"><h4 class="mb-3 mt-5 font-weight-bold" data-target="stripe--person.titlePersonalDetails">Director's personal details</h4></div>
                  <div class="row ml-1 mr-1">
                    <div class="col col-md-6 mb-3">
                      <%= label_tag :first_name %>
                      <%= text_field_tag :first_name, "Alan", class: "form-control", data: { target: "stripe--person.firstName stripe--person.required" } %>
                      <div class="text-danger d-none" data-target="first-name-error">Please enter your first name</div>
                    </div>
                    <div class="col col-md-6 mb-3">
                      <%= label_tag :last_name %>
                      <%= text_field_tag :last_name, "Smith", class: "form-control", data: { target: "stripe--person.lastName stripe--person.required" } %>
                      <div class="text-danger d-none" data-target="last-name-error">Please enter your last name</div>
                    </div>
                  </div>
                  <div class="row ml-1 mr-1">
                    <div class="col col-md-6 mb-3">
                      <%= label_tag :email %>
                      <%= text_field_tag :email, "director@example.com", class: "form-control", data: { target: "stripe--person.email stripe--person.required" } %>
                      <div class="text-danger d-none" data-target="email-error">Please enter your email</div>
                    </div>
                    <div class="col col-md-6 mb-3">
                      <%= label_tag :date_of_birth %>
                      <%= form.date_field :dob, class: "form-control", data: { target: "stripe--person.dob stripe--person.required" }, required: true %>
                      <div class="text-danger d-none" data-target="dob-error">Please enter your date of birth</div>
                      <!-- <input type="date" class="form-control" name="dob" placeholder="Date of Birth"> -->
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <%= label_tag :job_title %>
                    <%= text_field_tag :job_title, "CEO, Support Engineer", data: { action: "keyup->stripe--person#enableSubmitBtns", target: "stripe--person.jobTitle stripe--person.required" }, class: "form-control" %>
                    <div class="text-danger d-none" data-target="title-error">Please enter your Job Title</div>
                  </div>
                </fieldset>
                  <!-- TODO:
                  1) account.company.directors_provided - need to set this to true when guide has added all directors...
                  2) owners_provided  - - need to set this to true when guide has added all owners...
                  
                  Also - need to upload ID document...
                   -->

                <fieldset>
                  <div class="col-md-12"><h4 class="mb-3 mt-5 font-weight-bold" data-target="stripe--person.titleAddress">Director's Address</h4></div>
                  <div class="col-md-12 mb-3">
                    <%= label_tag :address_line_1 %>
                    <%= text_field_tag "address[line1]", "21 Palmeira Street", data: { action: "keyup->stripe--person#enableSubmitBtns", target: "stripe--person.addressLine1 stripe--person.required" }, class: "form-control" %>
                    <div class="text-danger d-none" data-target="line1-error">Please enter your address</div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <%= label_tag :address_line_2 %>
                    <%= text_field_tag "address[line2]", "Flat 10", data: { action: "keyup->stripe--person#enableSubmitBtns", target: "stripe--person.addressLine2" }, class: "form-control" %>
                  </div>
                  <div class="row ml-1 mr-1">
                    <div class="col col-md-6 mb-3">
                      <%= label_tag :city %>
                      <%= text_field_tag "address[city]", "Brighton", data: { action: "keyup->stripe--person#enableSubmitBtns", target: "stripe--person.addressCity stripe--person.required" }, class: "form-control" %>
                      <div class="text-danger d-none" data-target="city-error">Please enter your city</div>
                    </div>
                    <div class="col col-md-6 mb-3">
                      <%= label_tag :address_state, "State/County" %>
                      <%= text_field_tag "address[state]", "East Sussex", data: { action: "keyup->stripe--person#enableSubmitBtns", target: "stripe--person.addressState stripe--person.required" }, class: "form-control" %>
                      <div class="text-danger d-none" data-target="state-error">Please enter state/county</div>
                    </div>
                  </div>
                  <div class="row ml-1 mr-1">
                    <div class="col col-md-6 mb-3">
                      <%= label_tag :postal_code, "Post/Zip code" %>
                      <%= text_field_tag "address[postal_code]", "BN1 4QR", data: { action: "keyup->stripe--person#enableSubmitBtns", target: "stripe--person.addressPostalCode stripe--person.required" }, class: "form-control" %>
                      <div class="text-danger d-none" data-target="postal_code-error">Please enter your post/zip code</div>
                    </div>
                    <div class="col col-md-6 mb-3">
                      <%= label_tag :country %>
                      <%= country_select "", :country, { priority_countries: ["FR", "GB", "DE", "NL", "IT"], selected: "GB" }, data: { action: "keyup->stripe--person#enableSubmitBtns", target: "stripe--person.addressCountry stripe--person.required" }, class: "form-control customselect", required: true, autofocus: true %>
                      <div class="text-danger d-none" data-target="country-error">Please enter your country</div>
                    </div>
                  </div>
                  <!-- Can't get this working with Stripe API -->
                  <% # label_tag :phone %>
                  <% # text_field_tag :phone, "00447980474747" %>
                </fieldset>
                <div class="col-md-12 mb-3">
                  <%= button_tag "All done", data: { target: "stripe--person.submitBtn", action: "stripe--person#addPerson" }, class: "btn btn-primary btn-lg mt-4 mb-4 mr-2" %> 

                  or &nbsp;

                  <%= button_tag data: { target: "stripe--person.submitBtnAddAnother", action: "stripe--person#addAnotherPerson" }, class: "btn btn-primary btn-lg mt-4 mb-4 mr-2" do %>
                    <i class="fa fa-plus-circle"></i> Keep on adding people...
                  <% end %> 

                 <!--  <a href="" data-target="stripe--person.submitBtnAddAnother"  class="btn btn-outline-primary btn-lg btn-add-director ml-2"><i class="fa fa-plus-circle"></i> Add another director</a> -->
                </div>
                <%= hidden_field_tag :account_opener, @current_organisation.company_people.empty?, data: { target: "stripe--person.accountOpener" } %>
              <% end %>
              <%= form_with(url: guides_welcome_company_people_path, local: true, class: "-needs-validation", html: { novalidate: :novalidate }, data: { target: "stripe--person.formToken" }) do |form| %>
                <%= form.hidden_field :add_another_company_person, data: { target: "stripe--person.formTokenAddAnotherCompanyPerson" } %>
                <%= form.hidden_field :first_name, data: { target: "stripe--person.formTokenFirstName" } %>
                <%= form.hidden_field :last_name, data: { target: "stripe--person.formTokenLastName" } %>
                <%= form.hidden_field :token_account, data: { target: "stripe--person.tokenAccount" } %>
                <%= form.hidden_field :token_person, data: { target: "stripe--person.tokenPerson" } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
