<body class="bg-light">
  <div class="container-fluid full-height">
    <div class="row row-height">
      <div class="col-lg-4 content-left">
        <div class="content-left-wrapper bg_img bg4">
          <div class="onboard-logo"><img src="<%= asset_pack_path 'media/images/onboarding/logo-lt.svg' %>" alt="Logo"></div>
          <div class="wrapper">
            <!--             
            <div class="py-4 text-center">
              <p class="quotation-mark">
                “
              </p>
              <h3 class="quote-text">
              </h3>
              <div class="blog-post-actions">
                <p class="blog-post-bottom">
                </p>
              </div>
            </div> 
            -->
          </div>
        </div>
      </div>
      <div class="col onboard-right">
        <div class="row">
          <div class="col-md-12 mb-3"><%= link_to "Exit and return to trips", guides_trips_path, class: "btn btn-outline-secondary float-right" %></div>
          <div class="col-md-12 mb-5 mt-3">
            <div class="progress">
              <div class="one primary-color"></div>
              <div class="two primary-color"></div>
              <div class="three primary-color"></div>
              <div class="four no-color"></div>
              <div class="progress-bar" style="width: 61%;"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-4">
              <h2 class="mt-2">Almost Complete! Please enter the company directors</h2>
              <h5 class="mt-5 font-weight-bold">Completed Owners/Directors</h5>
              <div class="card border">
                <div class="card-body">
                  <h4 class="card-title">Fred Jones <a href="#" class="btn btn-sm btn-primary float-right">edit</a></h4>
                  <h4 class="card-title">Fred Jones <a href="#" class="btn btn-sm btn-primary float-right">edit</a></h4>
                  <h4 class="card-title">Fred Jones <a href="#" class="btn btn-sm btn-primary float-right">edit</a></h4> 
                </div>
              </div>
            </div>
            <div class="p-2 col-sm-12 col-md-12 col-lg-8">
                <% # -- ref: https://stripe.com/docs/api/tokens/create_account %>
                <%= form_with(url: guides_welcome_company_people_path, local: true, class: "-needs-validation", html: { novalidate: :novalidate }) do |form| %>
                  <fieldset>
                    <div class="col-md-12"><h4 class="mb-3 font-weight-bold">Director's/Owner's relationship to company</h4></div>
                    <div class="row pl-3">
                      <div class="col col-md-6 mb-3">
                        <%= radio_button_tag(:relationship, :director, true, class: "", data: { action: "stripe-person#togglePercentOwnership" }) %>
                        <%= label_tag("Director") %>
                        <%= radio_button_tag(:relationship, :owner, false, class: "", data: { action: "stripe-person#togglePercentOwnership" }) %>
                        <%= label_tag("Owner") %>
                      </div>
                    </div>

                    <div class="row pl-3">
                      <div class="col col-md-6 mb-3 d-none" data-target="stripe-person.percentOwnership" >
                        <%= label_tag :percent_ownership %>
                        <%= text_field_tag "percent_ownership", "0", class: "form-control" %>
                      </div>
                    </div>
                  </fieldset>
                  <fieldset>
                    <div class="col-md-12"><h4 class="mb-3 font-weight-bold">Director's/Owner's personal details</h4></div>
                    <div class="row ml-1 mr-1">
                      <div class="col col-md-6 mb-3">
                        <%= label_tag :first_name %>
                        <%= text_field_tag :first_name, "Alan", class: "form-control" %>
                      </div>
                      <div class="col col-md-6 mb-3">
                        <%= label_tag :last_name %>
                        <%= text_field_tag :last_name, "Smith", class: "form-control" %>
                      </div>
                    </div>
                    <div class="row ml-1 mr-1">
                      <div class="col col-md-6 mb-3">
                        <%= label_tag :email %>
                        <%= text_field_tag :email, "director@example.com", class: "form-control" %>
                      </div>
                      <div class="col col-md-6 mb-3">
                        <%= label_tag :date_of_birth %>
                        <%= form.date_field :dob, class: "form-control", required: true %>
                        <!-- <input type="date" class="form-control" name="dob" placeholder="Date of Birth"> -->
                      </div>
                    </div>
                  </fieldset>
                    <!-- TODO:
                    1) account.company.directors_provided - need to set this to true when guide has added all directors...
                    2) owners_provided  - - need to set this to true when guide has added all owners...
                    
                    Also - need to upload ID document...
                     -->

                  <fieldset>
                    <div class="col-md-12"><h4 class="mb-3 mt-5 font-weight-bold">Director's/Owner's Address</h4></div>
                    <div class="col-md-12 mb-3">
                      <%= label_tag :address_line_1 %>
                      <%= text_field_tag "address[line1]", "21 Palmeira Street", class: "form-control" %>
                    </div>
                    <div class="col-md-12 mb-3">
                      <%= label_tag :address_line_2 %>
                      <%= text_field_tag "address[line2]", "Flat 10", class: "form-control" %>
                    </div>
                    <div class="row ml-1 mr-1">
                      <div class="col col-md-6 mb-3">
                        <%= label_tag :city %>
                        <%= text_field_tag "address[city]", "Brighton", class: "form-control" %>
                      </div>
                      <div class="col col-md-6 mb-3">
                        <%= label_tag :address_state, "State/County" %>
                        <%= text_field_tag "address[state]", "East Sussex", class: "form-control" %>
                      </div>
                    </div>
                    <div class="row ml-1 mr-1">
                      <div class="col col-md-6 mb-3">
                        <%= label_tag :postal_code, "Post/Zip code" %>
                        <%= text_field_tag "address[postal_code]", "BN1 4QR", class: "form-control" %>
                      </div>
                      <div class="col col-md-6 mb-3">
                        <%= label_tag :country %>
                        <%= country_select "", :country, { priority_countries: ["FR", "GB", "DE", "NL", "IT"], selected: "GB" }, class: "form-control customselect", required: true, autofocus: true %>
                      </div>
                    </div>
                    <!-- Can't get this working with Stripe API -->
                    <% # label_tag :phone %>
                    <% # text_field_tag :phone, "00447980474747" %>
                  </fieldset>
                  <div class="col-md-12 mb-3">
                    <%= submit_tag "Submit", class: "btn btn-primary btn-lg mt-4 mb-4 mr-2" %> or <a href="" class="btn btn-outline-primary btn-lg btn-add-director ml-2"><i class="fa fa-plus-circle"></i> Add another director</a>
                  </div> 
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
