<!-- Terms and conditions modal start -->
<div class="modal fade" id="tosModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body"> 
        <button type="button" class="close dark" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="text-center mb-4">
          <h2 class="modal-title font-weight-bold" id="exampleModalLabel">MyBookingSherpa's Terms and Conditions</h2>
        </div>
        <h4 class="font-weight-bold mb-0">1. Your money:</h4>
        <p>If you are not happy in anyway we will refund you all your money.</p>
        <h4 class="font-weight-bold mb-0">2. Your data:</h4>
        <p>We will occasionally email you with advice on how best to use our service, letting you know about new features, etc. We will never share you email address with anyone else.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-sml rounded" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- modal end -->

<div class="container-fluid full-height">
  <div class="row row-height">
    <div class="col-lg-4 content-left" style="">
      <div class="content-left-wrapper bg_img">
        <div class="wrapper">
          <div class="py-4 text-center">
            <h2 class="font-weight-bold pb-4">MyBookingSherpa</h2>
            <h4 class="pb-4">Welcome to the world of instant card payments for all your bookings</h4>
            <h4 class="font-weight-bold mb-1">One link</h4>
            <h4 class="font-weight-bold mb-1">One click</h4>
            <h4 class="font-weight-bold mb-1">One new booking</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7 content-right px-0">
      <div class="mt-3">
        <span class="text-center">
          <h1 class="font-weight-bold">Sign Up</h1>
        </span>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
          <div class="col-md-12 mb-3">
            <%= f.label :email_address %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "form-control" %>
            <div class="invalid-feedback">
              Please enter a vali Email Address
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <span class="small"><i>(<%= @minimum_password_length %> characters minimum)</i></span>
            <% end %>
            <%= f.password_field :password, autofocus: true, autocomplete: "new-password", required: true, class: "form-control" %>
            <div class="invalid-feedback">
              Please enter your password
            </div>
          </div>
          <div class="col-md-12 mt-0 mb-3">
            <small>
            By continuing I agree to MyBookingSherpa's <a href="#" class="font-italic text-primary" data-toggle="modal" data-target="#tosModal">terms and conditions</a>
            </small>
          </div>
          <div class="col-md-12 mb-3 text-center">
            <%= f.submit "SIGN UP", class: "btn btn-primary btn-lg rounded mt-4 mb-4" %>
          </div>
          <div class="col-md-12 mb-3 text-center">
            Already signed up? <%= link_to "Log in here", new_session_path(resource_name), class: "text-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>