<%= form_with(model: booking, local: true, url: public_booking_failed_payments_path(@booking), class: "needs-validation payment-form", html: { novalidate: :novalidate }, method: :post, data: { controller: "stripe--payment-intent", stripe__payment_intent_key: booking.stripe_publishable_key, stripe__payment_intent_secret: @payment_intent.client_secret, target: "stripe--payment-intent.form", stripe__payment_intent_create_booking_url: public_booking_failed_payments_path(@booking), stripe__payment_intent_connected_account_id: @booking.organisation_stripe_account_id }) do |form| %>
  <% # reinstate error / warning notices %>
  <!-- <div class="alert alert-warning" role="alert"><%= notice %></div>
  <div class="alert alert-warning" role="alert"><%= alert %></div> -->
  <hr class="mb-5 mb-4">
  <h4 class="mb-3 font-weight-bold">
    Outstanding Payment now due: <%= @booking.human_readable_failed_amount_due %>
    </h4>
  <div class="row">
    <div class="col-md-12 mb-3">
      <label for="card-element">Credit or debit card</label>
      <div data-target="stripe--payment-intent.cardElement">
        <!-- A Stripe Element will be inserted here. -->
      </div>
      <!-- Used to display Element errors. -->
      <div data-target="stripe--payment-intent.cardErrors" role="alert"></div>
    </div>
  </div>
  <div class="actions">
    <%= form.submit "Update card details", class: "btn btn-primary btn-lg btn-block mt-4 mb-4", data: { target: "stripe--payment-intent.submitButton" } %>
  </div>
  <%= hidden_field_tag :payment_intent_id, @payment_intent.id %>
<% end %>