<main id="main" data-controller="toggle-trip-description">
  <section class="d-flex align-items-center bg-skew bg-skew-primary overflow-hidden text-white">
    <div class="container mb-xl-5 pt-4">
      <div class="row justify-content-center text-center">
        <div class="col-lg-10">
          <h1 class="display-1 font-serif mb-2 <%= 'cancelled-trip' if @booking.trip_cancelled? %>" data-target="trip-title.tripNameSource"><%= @booking.trip_name %></h1>
          <h4 class="text-uppercase mb-1">
            <%= "#{@booking.start_date.day} - #{@booking.end_date.day} #{Date::MONTHNAMES[@booking.end_date.month]}" %>
          </h4>
          <div id="summary">
            <p class="px-sm-5 mx-sm-5 collapse" id="collapseSummary" data-target="toggle-trip-description.tripDescriptionSource">
              <%= @booking.trip_description %>
            </p>
            <div data-target="toggle-trip-description.toggleLinkSource">
              <a class="collapsed btn btn-pill btn-primary rounded btn-sm" data-toggle="collapse" href="#collapseSummary" aria-expanded="false" aria-controls="collapseSummary"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="container pt-5">
    <div class="row">
      <div class="col-lg-4 col-xl-4 offset-xl-1 mb-5 order-lg-12">
        <aside class="bg-white shadow rounded mt-lg-n5 p-4 sticky-top">
          <% if @booking.organisation.logo_image.attached? %>
            <%= image_tag url_for(@booking.organisation_logo_image), class: "d-block mx-auto mb-4 logo" %>
          <% end %>
          <dl class="mb-0">
            <dt class="h3 font-serif pb-4 pt-1 text-center border-bottom">
              Trip Cost
            </dt>
            <dt class="h4 font-weight-light text-uppercase text-secondary mb-2 pt-2">
              Outstanding Payment due
            </dt>
            <dd class="h2 mb-0 font-serif"><%= @booking.human_readable_failed_amount_due %></dd>
          </dl>
        </aside>
      </div>
      <div class="col-lg-8 col-xl-7 mb-4 order-lg-1">
        <h2 class="font-weight-bold font-serif">Hi <%= @booking.name %>, your payment was unsuccessful.</h2>
        <h4 class="mb-4">Please update your card details below to make sure your trip runs smoothly.</h4>
        <%= render "new_form", booking: @booking %>
      </div>
    </div>
  </section>
</main>