<div class="container-fluid page-body-wrapper content">
<!-- main -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-12">
        <div class="card card-shadow">
          <div class="card-body">
            <h1 class="card-title font-weight-bold mb-4">Your Upcoming Trips
              <!-- <button type="button" class="btn btn-inverse-primary btn-md float-right mt-2 d-sm-none d-md-block d-none d-sm-block">Add a Trip</button> -->
            </h1>
            <div class="row">
              <div class="col col-6"></div>
              <div class="col text-center d-sm-none d-md-block d-none d-sm-block"></div>
              <div class="col text-center d-sm-none d-md-block d-none d-sm-block">
                <h4 class="ml-1">Places Filled</h4>
              </div>
              <div class="col col-lg-1"></div>
            </div>
            <div class="accordion" id="accordion">
              <% @trips.each do |trip| %>
                <div class="card">
                  <div class="card-header pointer collapsed" id="<%= "trip-#{trip.id}-header" %>" data-toggle="collapse" data-target="<%= "#trip-#{trip.id}-card" %>" aria-expanded="false"
                    aria-controls="collapseOne">
                    <div class="row">
                      <div class="row col col-10 col-sm-5 h4 font-weight-bold  no-gutters">
                        <div class="col col-lg-7 col-12">
                          <%= trip.name %>
                        </div>
                        <div class="col col-lg-5 col-12">
                          <div class="input-group-append">
                            <input class="form-control form-control-sm clipboard-input" type="text" data-clipboard-source="<%= trip.id %>" value="<%= trip.new_public_booking_link %>" readonly>
                            <button class="btn btn-sm btn-light" title="Copy to Clipboard" data-clipboard-btn="<%= trip.id %>"><i class="fa fa-copy" data-clipboard-btn="<%= trip.id %>"></i></button>
                            <a href="<%= trip.new_public_booking_link %>" title="Link to Trip Booking" target="_blank" class="btn btn-sm btn-light" data-clipboard-btn="<%= trip.id %>"><i class="fa fa-external-link"></i></a>
                          </div>
                        </div>
                      </div>
                      
                      <div class="col text-gray h4 d-sm-none d-md-block d-none d-sm-block font-weight-normal">
                        <%= "#{trip.start_date.day} - #{trip.end_date.day} #{Date::MONTHNAMES[trip.end_date.month]}" %>
                      </div>
                      <div class="col d-sm-none d-md-block d-none d-sm-block">
                        <div>
                          <% (0..trip.maximum_number_of_guests - 1).each do |i| %>
                            <% if trip.decorated_bookings[i] %>
                              <span class="dot dot-sm <%= trip.decorated_bookings[i].status(trip) %>" data-toggle="tooltip" data-placement="top" title="<%= trip.decorated_bookings[i].name %>"></span>
                            <% else %>
                              <span class='dot dot-sm dot-grey'></span>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                      <div class="col col-lg-1 text-right">
                        <i class="fa fa-chevron-circle-down md-20"></i>
                      </div>
                    </div>
                  </div>
                  <div id="<%= "trip-#{trip.id}-card" %>" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      <div class="fluid-container">
                        <!-- Loop throuh individual in trip -->
                        <% trip.decorated_bookings.each do |booking| %>
                          <%= link_to guides_booking_path(booking) do %>
                            <div class="row ticket-card pt-3 pb-2 border-bottom">
                              <div class="col-1 d-sm-none d-md-block d-none">
                                <%= image_tag booking.gravatar_url, class: "avatar avatar-sm", alt: "guest profile image" %>
                                <% if booking.flag_icon.present? %>
                                  <span class="flag-icon flag-icon-circled flag-icon-profile <%= booking.flag_icon %>"></span>
                                <% end %>
                              </div>
                              <div class="col-10">
                                <div class="d-flex">
                                  <p class="text-primary mr-2 mb-0 no-wrap h3 font-weight-light">
                                    <%= booking.name %>
                                    <% if booking.status_alert? %>
                                      <div class="col">
                                        <span class="badge badge-warning d-none d-sm-none d-md-inline align-middle"><i class="fa fa-exclamation-circle"></i><%= booking.status_text %></span>
                                      </div>
                                    <% end %>
                                  </p>
                                </div>
                              </div>
                            </div>
                          <% end %>
                        <% end %>
                        <!-- END Loop throuh individual in trip -->
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>