<div class="container page-body-wrapper content">
<!-- main --> 
  <div class="main-panel">
    <div class="content-wrapper row mt-3">
      <div class="col-12 mt-5">
        <% if current_guide.trips.exists? %>
          <h1 class="font-weight-bold mb-3 ml-3">
            <%= @show_past_trips ? "My Past Trips" : "My Trips" %>
            <span class="small">
              <a class="ml-1" href="/guides/trips/new" alt="Add a trip" data-toggle="tooltip" data-placement="top" data-tooltip="Add a trip" data-tooltip-position="top">
                <i class="la la-plus-circle text-primary"></i>
              </a>
            </span>
          </h1>
          <% if params[:completed_set_up] %>
            <div class="card card-shadow card-rounded" data-controller="modal-onload">
          <% else %>
            <div class="card card-shadow card-rounded">
          <% end %>
            <div class="card-body">
              <div class="row">
                <div class="col col-lg-7"></div>
                <div class="col col-lg-4 d-sm-none d-md-none d-lg-block d-none">
                  <h5 class="text-uppercase mb-1">Places Filled</h5>
                </div>
                <div class="col col-lg-1"></div>
              </div>
              <div class="accordion" id="accordion" data-controller="onboarding">
                <% @trips.each_with_index do |trip, count| %>
                  <div class="card">
                    <div class="card-header pointer collapsed" id="<%= "trip-#{trip.id}-header" %>" data-toggle="collapse" data-target="<%= "#trip-#{trip.id}-card" %>" aria-expanded="false"
                      aria-controls="collapseOne" data-action="click->onboarding#hideTargetElement" data-hide-element="<%= element_to_hide(trip, count) %>">
                      <div class="row" data-hide-element="<%= element_to_hide(trip, count) %>">
                        <div class="row col-10 col-sm-7 h4 font-weight-bold no-gutters" data-hide-element="<%= element_to_hide(trip, count) %>">
                          <div class="col col-md-8 col-sm-12" data-hide-element="<%= element_to_hide(trip, count) %>">
                            <span class="<%= 'cancelled-trip' if trip.cancelled? %>" data-hide-element="<%= element_to_hide(trip, count) %>"><%= trip.name %></span>
                          </div>
                          <div class="col-md-4 col-sm-12 text-gray h4 font-weight-light mb-0" data-hide-element="<%= element_to_hide(trip, count) %>">
                            <%= "#{trip.start_date.day} - #{trip.end_date.day} #{Date::MONTHNAMES[trip.end_date.month]}" %>
                          </div>
                        </div> 
                        <div class="col col-lg-4 d-sm-none d-md-block d-none d-sm-block" data-hide-element="<%= element_to_hide(trip, count) %>">
                          <div>
                            <% (0..trip.maximum_number_of_guests - 1).each do |i| %>
                              <% if trip.bookings[i] %>
                                <span class="dot dot-sm <%= trip.bookings[i].payment_status_icon %>" data-toggle="tooltip" data-placement="top" data-tooltip="<%= trip.bookings[i].name %>" data-tooltip-position="top" data-hide-element="<%= element_to_hide(trip, count) %>"></span>
                              <% else %>
                                <span class='dot dot-sm dot-grey' data-tooltip="Place not filled" data-tooltip-position="top" data-hide-element="<%= element_to_hide(trip, count) %>"></span>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                        <div class="col col-lg-1 text-right float-right" data-hide-element="<%= element_to_hide(trip, count) %>">
                          <% if show_onboarding_explainer_element?(trip, count) %>
                            <div class="pointer-hand hand-down position-absolute hand-down-index" data-hide-element-target="pointer-one">👇</div>
                          <% end %>
                          <i class="la la-chevron-circle-down md-20" data-hide-element="<%= element_to_hide(trip, count) %>"></i>
                        </div>
                      </div>
                    </div>
                    <div id="<%= "trip-#{trip.id}-card" %>" class="collapse <%= 'show' if open_first_trip_accordion?(count) %>" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                        <div class="fluid-container">
                          <div class="row pb-3 guest-link-container">
                            <div class="col-12 col-md-8 mt-1 text-nowrap d-flex justify-content-start"> 
                              <h5 class="d-none d-sm-none d-md-none d-lg-block mb-0 mt-1 mr-2 text-muted">New Booking Link</h5>
                                <div class="input-group-append mt-0" data-controller="clipboard">
                                  <div class="outer-text-wrapper" data-action="click->clipboard#copyClipboard" >
                                    <small class="clipboard-input" data-target="clipboard.clipboardInput"><%= trip.live_new_public_booking_link %></small>
                                    <small style="opacity: 0; position: absolute; left: -1000px; top: -1000px;" data-target="clipboard.clipboardHiddenInput"><%= trip.new_public_booking_link %></small>
                                  </div>
                                  <div class="btn-group ml-1" role="group" aria-label="First group">
                                    <% if @current_organisation.on_trial? %>
                                      <a href="<%= trip.new_public_booking_link %>" target="_blank" class="btn btn-sm btn-outline-secondary rounded px-2" data-toggle="tooltip" data-placement="top" data-tooltip="[Trial mode] Preview example booking link" data-tooltip-position="top" data-action="click->onboarding#hideTargetElement" data-hide-element="pointer-two"><i class="la la-external-link" data-hide-element="pointer-two"></i></a>
                                    <% else %>
                                      <button class="btn btn-sm btn-outline-secondary rounded mr-1 px-2" type="button" data-toggle="tooltip" data-placement="top" data-tooltip="Copy booking link to clipboard" data-tooltip-position="top" data-action="clipboard#copyClipboard"><i class="la la-copy"></i></button>
                                      <a href="<%= trip.new_public_booking_link %>" target="_blank" class="btn btn-sm btn-outline-secondary rounded px-2" data-toggle="tooltip" data-placement="top" data-tooltip="Sharable booking link" data-tooltip-position="top" data-action="click->onboarding#hideTargetElement" data-hide-element="pointer-two"><i class="la la-external-link" data-hide-element="pointer-two"></i></a>
                                    <% end %>
                                  </div>
                                  <% if show_onboarding_explainer_element?(trip, count) %>
                                    <div class="pointer-hand hand-left" data-hide-element-target="pointer-two">👈</div>
                                  <% end %>
                                <span data-target="clipboard.copiedMessage" class="small ml-2 message">Copied</span>
                              </div>
                            </div>
                            <div class="col-12 col-md-4">
                              <% unless trip.bookings.exists? %>
                                <%= link_to guides_trip_path(trip), method: :delete, data: { confirm: "Are you sure you want to PERMANENTLY delete #{trip.name}?", toggle: "tooltip", placement: "top", tooltip: "Delete trip", tooltip_position: "top"}, class: "btn btn-sm btn-outline-secondary edit-trip-link rounded mt-1 px-2" do %>
                                  <i class="la la-trash"></i>
                                <% end %>
                              <% end %>
                              <%= link_to edit_guides_trip_path(trip), class: "btn btn-sm btn-outline-secondary rounded edit-trip-link mt-1", data: { edit_link: trip.id } do %>
                                Edit
                              <% end %>
                              <%= link_to "Spreadsheet view", guides_trip_bookings_path(trip), class: "btn btn-sm btn-outline-secondary rounded edit-trip-link mt-1" %>
                            </div>
                          </div>
                          <!-- Loop throuh individual in trip -->
                          <% trip.bookings.each do |booking| %>
                            <%= link_to guides_booking_path(booking) do %>
                              <div class="row ticket-card pt-2 pb-2">
                                <div class="d-sm-none d-md-block d-none position-relative">
                                  <div class="avatar avatar-sm">
                                    <%= image_tag booking.gravatar_url, alt: "guest profile image" %>
                                  </div>
                                  <% if booking.flag_icon.present? %>
                                    <span class="flag-icon flag-icon-circled flag-icon-profile <%= booking.flag_icon %>"></span>
                                  <% end %>
                                </div>
                                <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                                  <div class="d-flex">
                                    <h4 class="mb-0 no-wrap text-primary">
                                      <%= booking.guest_or_booking_name %>
                                    </h4>
                                    <% if Bookings::Status.new(booking).personal_details_incomplete? %>
                                      <small class="mt-1 ml-2 text-muted">personal details incomplete</small>
                                    <% end %>
                                  </div>
                                </div>
                                <div class="col-9 col-lg-4 col-md-3 col-sm-10">
                                  <small>
                                    <% if booking.refunded? %>
                                      <span class="dot dot-sm dot-paid dot-danger"></span> Fully refunded <!-- May not have the date... on 12/12/2020 -->
                                    <% else %>
                                      <span class="dot dot-sm dot-paid <%= booking.payment_status_icon %>"></span> <%= booking.payment_status_text %>
                                    <% end %>
                                  </small>
                                </div>
                                <div class="col-xs-auto mb-1">
                                  <% if booking.guest_or_booking_allergies? %>
                                    <span data-toggle="tooltip" data-placement="top" data-tooltip="Allergies: <%= booking.human_readable_allergies %>" data-tooltip-position="top">
                                      <img src="<%= asset_pack_path 'media/images/icons/medical-red.svg' %>" class="custom-icon"/>
                                    </span>
                                  <% end %>
                                  <% if booking.guest_or_booking_dietary_requirements? %>
                                    <span data-toggle="tooltip" data-placement="top" data-tooltip="Diet: <%= booking.human_readable_dietary_requirements %>" data-tooltip-position="top"><img src="<%= asset_pack_path 'media/images/icons/diet-yellow.svg' %>" class="custom-icon" /></span>
                                  <% end %>
                                  <% if booking.guest_or_booking_other_information %>
                                    <span data-toggle="tooltip" data-placement="top" data-tooltip="Additional information" data-tooltip-position="top"><img src="<%= asset_pack_path 'media/images/icons/info-yellow.svg' %>" class="custom-icon" /></span>
                                  <% end %>
                                </div>
                              </div>
                            <% end %>
                          <% end %>
                          <!-- END Loop throuh individual in trip -->
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
            <% # TODO: Pete could have a look at this. Not sure if it's in keeping with our style. %>
            <div class="col-md-12 pb-4 text-center">
              <% if @show_past_trips %>
                <%= link_to "View Upcoming Trips", guides_trips_path, class: "btn btn-primary btn-sm rounded uppercase" %>
              <% elsif current_guide.trips.past_trips.exists? %>
                <%= link_to "View Past Trips", guides_trips_path(past_trips: true), class: "btn btn-primary btn-sm rounded uppercase" %>
              <% end %>
            </div>
          </div>
        <% else %>
          <div class="card card-shadow card-rounded mt-5 offset-md-1 col-md-10">
            <div class="card-body p-0 row overflow-hidden">
              <div class="col-lg-5 content-left">
                <div class="content-left-wrapper bg_img">
                  <div class="wrapper">
                    <div class="py-4 text-center">
                      <h2 class="font-weight-bold">Welcome...</h2>
                      <% if current_guide.name.present? %>
                        <h2 class="font-weight-bold"><%= current_guide.name %></h2>
                      <% end %>
                      <h4 class="pb-4">To the world of instant card payments.</h4>
                      <h5>This will be glorious...</h5>
                      <h5>You will talk about this day to your grandchildren.</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-7 content-right">
                <div class="mt-2">
                  <h1 class="font-weight-bold">Let's create your first trip</h1>
                  <h4 class="mt-4">All you need is...</h4>
                  <ul class="list-unstyled">
                    <li><i class="la la-check text-primary mr-1"></i> Trip name and description</li>
                    <!-- <li><i class="la la-check text-primary mr-1"></i> Trip description</li> -->
                    <li><i class="la la-check text-primary mr-1"></i> Start and end date</li>
                    <!-- <li><i class="la la-check text-primary mr-1"></i> Number of guests</li> -->
                    <li><i class="la la-check text-primary mr-1"></i> Price and deposit</li>
                  </ul>
                  <div class="col text-center">
                    <a class="btn btn-primary btn-lg rounded uppercase my-3" href="/guides/trips/new" role="button">Let's go</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<!-- Onboarding modal -->
<% if params[:completed_set_up] %>
  <div data-controller="modal-onload" data-modal-onload-onclose-redirect-url="<%= guides_trips_url %>">
    <div class="modal fade" id="onloadModal" tabindex="-1" role="dialog" aria-labelledby="trialModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close dark" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <div class="card col-md-12">
              <div class="card-body p-0 row">
                <div class="offset-lg-1 col-lg-10">
                  <div class="mt-2">
                    <div class="text-center">
                      <h1 class="font-weight-bold">🎉  You've done it!  🎉</h1>
                      <h2 class="font-weight-bold">Your account is now live.</h2>
                    </div>
                    <p>So now you can share your LIVE new booking links, with REAL guests and accept REAL payments for your all trips.</p>
                    <p>Just FYI: our fees are listed <a href="https://mybookingsherpa.com/#questions" class="text-primary" target="_blank">here</a> and your card handler (Stripe) fees are <a href='<%= "https://stripe.com/#{@current_organisation&.country_code || 'gb'}/pricing" %>' class="text-primary" target="_blank">here</a>.</p>
                    <p>If there’s anything we can help you with just email: support@mybookingsherpa.com</p>
                    <div class="text-center mt-4">
                      <p>With ❤️ from all the MyBookingSherpa team.</p>
                    </div>
                  </div>
                    <div class="text-center my-4">
                      <button type="button" class="btn btn-primary btn-lg rounded uppercase" data-dismiss="modal">Let's do this</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>