<div class="container-fluid page-body-wrapper content">
<!-- main -->
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-12">
        <div class="card card-shadow mt-5">
          <div class="card-body">
            <h1 class="card-title font-weight-bold mb-4">
            <% @show_company_fields = false %>
            <% if creating_stripe_account? %>
              <%= form_with(model: @stripe_account, url: guides_welcome_companies_path, local: true, class: "-needs-validation", html: { class: "new-guide-account-form", novalidate: :novalidate }) do |form| %>

                <%= form.hidden_field :token_account %>

                <!-- These are needed no matter if company is a busines or individual -->

                <%= form.label "Business name" %>
                <%= form.text_field :company_name, value: "Free The Trees" %>
                <br/>
                <%= form.label "Account number (IBAN - if in EU)" %>
                <%= form.text_field :bank_account_number, value: "FR1420041010050500013M02606" %>
                <br/>
                <%= form.label "Sort code (optional - if in EU)" %>
                <%= form.text_field :bank_account_sort_code, value: "" %>
                <br/>
                <%= form.label :country %>
                <%= form.text_field :country, value: "FR" %>
                <br/>
                
                <%= form.label :default_currency %>
                <%= form.text_field :default_currency, value: "EUR" %>
                <br/>

                <%= form.label :email %>
                <%= form.text_field :email, value: current_guide.email %>

                <fieldset>
                  <%= form.label "Company tax number" %>
                  <%= form.text_field :company_tax_id, value: "123" %>
                  <br/>
                  <br/>
                </fieldset>
                <br/>

                <!-- This should be two tabs/toggle - company or individual -->
                <p>If you're set up as a Company</p>

                <% if @show_company_fields #  show business tab if... some conditional...%>
                  <%= form.label "Business type" %>
                  <%= form.text_field :business_type, value: "company" %>
                  <br/>
                  <fieldset>
                    <legend>Business Address</legend>
                    <%= form.label :company_address_line1 %>
                    <%= form.text_field :company_address_line1, value: "21 Palmeira Square" %>
                    <br/>
                    <%= form.label :company_address_line2 %>
                    <%= form.text_field :company_address_line2, value: "Flat 4" %>
                    <br/>
                    <%= form.label :company_address_city %>
                    <%= form.text_field :company_address_city, value: "Hove" %>
                    <br/>
                    <%= form.label :company_address_state %>
                    <%= form.text_field :company_address_state, value: "East Sussex" %>
                    <br/>
                    <%= form.label :company_address_postal_code %>
                    <%= form.text_field :company_address_postal_code, value: "BN3 2JN" %>
                    <br/>
                    <%= form.label :company_address_country_code %>
                    <%= form.text_field :company_address_country_code, value: "GB" %>
                    <br/>
                    <%= form.label :company_phone %>
                    <%= form.text_field :company_phone, value: "077877870098" %>
                    <br/>
                    <br/>
                  </fieldset>
                <% elsif ! @show_company_fields # show the individual / solo founder panel... %>
                
                  <p>If it's just you, a solo founder</p>
                  <%= form.label "Business type" %>
                  <%= form.text_field :business_type, value: "individual" %>
                  
                  <br/>
                  <fieldset>
                    <legend>Business Address</legend>
                    <%= form.label :individual_address_line1 %>
                    <%= form.text_field :individual_address_line1, value: "21 Palmeira Square" %>
                    <br/>
                    <%= form.label :individual_address_line2 %>
                    <%= form.text_field :individual_address_line2, value: "Flat 4" %>
                    <br/>
                    <%= form.label :individual_address_city %>
                    <%= form.text_field :individual_address_city, value: "Hove" %>
                    <br/>
                    <%= form.label :individual_address_state %>
                    <%= form.text_field :individual_address_state, value: "East Sussex" %>
                    <br/>
                    <%= form.label :individual_address_postal_code %>
                    <%= form.text_field :individual_address_postal_code, value: "BN3 2JN" %>
                    <br/>
                    <%= form.label :individual_address_country_code %>
                    <%= form.text_field :individual_address_country_code, value: "GB" %>
                    <br/>
                    <%= form.label :individual_phone %>
                    <%= form.text_field :individual_phone, value: "077877870098" %>
                    <br/>
                    <br/>
                  </fieldset>

                  <fieldset>
                    <legend>Your details</legend>
                    <%= form.label :individual_dob_day %>
                    <%= form.text_field :individual_dob_day, value: "12" %>
                    <br/>
                    <%= form.label :individual_dob_month %>
                    <%= form.text_field :individual_dob_month, value: "12" %>
                    <br/>
                    <%= form.label :individual_dob_year %>
                    <%= form.text_field :individual_dob_year, value: "1987" %>
                    <br/>
                    <br/>
                    <%= form.label :individual_email %>
                    <%= form.text_field :individual_email, value: current_guide.email %>
                    <br/>
                    <%= form.label :individual_first_name %>
                    <%= form.text_field :individual_first_name, value: "Alan" %>
                    <br/>
                    <%= form.label :individual_last_name %>
                    <%= form.text_field :individual_last_name, value: "Donohoe" %>
                    <br/>
                    <%= form.label :individual_maiden_name %>
                    <%= form.text_field :individual_maiden_name %>
                    <br/>
                    <%= form.label :individual_gender %>
                    <%= form.text_field :individual_gender, value: "male" %>
                    <br/>
                    <%= form.label :individual_phone %>
                    <%= form.text_field :individual_phone, value: "00447980565656" %>
                    <br/>
                  </fieldset>
                <% end %> <!-- end of individual tab -->
                <p>
                  <!-- TODO: can change this to be in French... https://stripe.com/fr/connect-account/legal#translation -->
                  I agree to <a href="#">our terms</a> and the <a href="https://stripe.com/gb/connect-account/legal">Stripe Connected Account Agreement</a>
                  <%= form.check_box :accepted_tos, required: true %>
                </p>
                <button>Submit</button>
              <% end %> <!-- end of form -->

              <% if false # show the extra fields for someone opening the account who is not the owner... some conditional... %>
                <p>If you, the person filling this out, is different to the owner, please fill in the following:</p>
                <span>copy my details from above?</span>
                <fieldset>
                  <legend>Account Opener Details</legend>
                  <%= form.label :account_opener_first_name %>
                  <%= form.text_field :account_opener_first_name, value: "Alan" %>
                  <br/>
                  <%= form.label :account_opener_last_name %>
                  <%= form.text_field :account_opener_last_name, value: "Donohoe" %>
                  <br/>
                  <%= form.label :account_opener_address_line1 %>
                  <%= form.text_field :account_opener_address_line1, value: "21 Palmeira Square" %>
                  <br/>
                  <%= form.label :account_opener_address_city %>
                  <%= form.text_field :account_opener_address_city, value: "Hove" %>
                  <br/>
                  <%= form.label :account_opener_address_postal_code %>
                  <%= form.text_field :account_opener_address_postal_code, value: "BN3 2JN" %>
                  <br/>
                  <%= form.label :account_opener_address_country_code %>
                  <%= form.text_field :account_opener_address_country_code, value: "GB" %>
                  <br/>
                  <%= form.label :account_opener_dob_day %>
                  <%= form.text_field :account_opener_dob_day, value: "12" %>
                  <br/>
                  <%= form.label :account_opener_dob_month %>
                  <%= form.text_field :account_opener_dob_month, value: "12" %>
                  <br/>
                  <%= form.label :account_opener_dob_year %>
                  <%= form.text_field :account_opener_dob_year, value: "1987" %>
                  <br/>
                  <br/>
                </fieldset>
              <% end %>

            <% elsif creating_stripe_people? %>
              <%= form_with(model: @stripe_person, url: guides_stripe_people_path, local: true, class: "-needs-validation", html: { class: "new-guide-account-form", novalidate: :novalidate }) do |form| %>

                <%= form.hidden_field :token_person %>

                <!-- TODO... -->
              <% end %>
            <% end %>
            <% #  @stripe_account.inspect %>
            <!-- TODO: change the class to a data attribute... only used in Stripe JS -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
