<body class="bg-light">
  <div class="container-fluid full-height">
    <div class="row row-height">
      <div class="col-lg-4 content-left">
        <div class="content-left-wrapper bg_img bg3">
          <div class="onboard-logo"><img src="<%= asset_pack_path 'media/images/onboarding/logo-lt.svg' %>" alt="Logo"></div>
          <div class="wrapper">
            <div class="mb-5 text-left">
              <h2 class="font-weight-bold">Great!</h2>
              <h2>First you need to enter your company details
              </h2>
              <h2>
              Then, on the next page you'll enter details of the company directors / owners.
              </h2>
            </div>
          </div>
        </div>
      </div>
      <div class="col onboard-right">
        <div class="row col-lg-10">
          <div class="col-md-12 mb-3"><a href="/guides/trips" class="btn btn-outline-secondary float-right">Exit and return to my trips</a></div>
          <div class="col-md-12 mb-5 mt-3">
            <div class="progress">
              <div class="one primary-color"></div>
              <div class="two primary-color"></div>
              <div class="three no-color"></div>
              <div class="four no-color"></div>
              <div class="progress-bar" style="width: 40%;"></div>
            </div>
          </div>
            <div class="col-12" data-controller="stripe--account-company" data-stripe--account-company-key="<%= @current_organisation.stripe_publishable_key %>">
              <div class="col-md-12"><h4 class="mb-3 font-weight-bold">Your company details</h4></div>
              <% # -- ref: https://stripe.com/docs/api/tokens/create_account %>
              <%= form_with(url: guides_welcome_companies_path, local: true, class: "-needs-validation", html: { class: "new-guide-account-form", novalidate: :novalidate }, data: { action: "keyup->stripe--account-company#hideErrorEnableSubmitBtn", target: "stripe--account-company.formDetails" }) do |form| %>
                <fieldset>
                  <div class="row ml-1 mr-1">
                    <div class="col col-md-6 mb-3">
                      <%= label_tag :company_name %>
                      <%= text_field_tag :company_name, "My new business", data: { action: "keyup->stripe--account-company#hideErrorEnableSubmitBtn", target: "stripe--account-company.name stripe--account-company.requiredBusiness" }, class: "form-control" %>
                      <div class="text-danger d-none" data-target="company_name-error">Please enter your company name</div>
                    </div>
                    <div class="col col-md-6 mb-3">
                      <%= label_tag :company_phone, "Phone number" %>
                      <%= number_field_tag :company_phone, "44392489238402", data: { action: "keyup->stripe--account-company#hideErrorEnableSubmitBtn", target: "stripe--account-company.phone stripe--account-company.requiredBusiness" }, class: "form-control" %>
                      <div class="text-danger d-none" data-target="company_phone-error">Please enter your company phone number</div>
                    </div>
                  </div>
                  <div class="row ml-1 mr-1">
                    <div class="col col-md-6 mb-3">
                      <%= label_tag :company_website, "Website" %>
                      <%= text_field_tag :company_website, "www.test.com", data: { action: "keyup->stripe--account-company#hideErrorEnableSubmitBtn", target: "stripe--account-company.website stripe--account-company.requiredBusiness" }, class: "form-control" %>
                      <div class="text-danger d-none" data-target="company_website-error">Please enter your business website</div>
                    </div>
                    <div class="col col-md-6 mb-3">
                      <!-- TODO: could probably hard code this, to always be: "Other entertainment and recreation"  (ref: from Stripe dashboard) -->
                      <%= label_tag :company_industry, "Industry" %>
                      <%= text_field_tag :company_industry, "Other entertainment and recreation", data: { action: "keyup->stripe--account-company#hideErrorEnableSubmitBtn", target: "stripe--account-company.industry stripe--account-company.requiredBusiness" }, class: "form-control" %>
                      <div class="text-danger d-none" data-target="company_industry-error">Please enter your industry</div>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <%= label_tag :address_line1, "Company address line 1" %>
                    <%= text_field_tag :address_line1, "21 Palmeira Street", data: { action: "keyup->stripe--account-company#hideErrorEnableSubmitBtn", target: "stripe--account-company.addressLine1 stripe--account-company.requiredBusiness" }, class: "form-control" %>
                    <div class="text-danger d-none" data-target="line1-error">Please enter your address</div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <%= label_tag :address_line2, "Company address line 2" %>
                    <%= text_field_tag :address_line2, "Flat 10", data: { action: "keyup->stripe--account-company#hideErrorEnableSubmitBtn", target: "stripe--account-company.addressLine2" }, class: "form-control" %>
                    <div class="text-danger d-none" data-target="line2-error">Please enter your address</div>
                  </div>
                  <div class="row ml-1 mr-1">
                    <div class="col col-md-6 mb-3">
                      <%= label_tag :address_city, "City" %>
                      <%= text_field_tag :address_city, "Brighton", data: { action: "keyup->stripe--account-company#hideErrorEnableSubmitBtn", target: "stripe--account-company.addressCity stripe--account-company.requiredBusiness" }, class: "form-control"  %>
                      <div class="text-danger d-none" data-target="city-error">Please enter your city</div>
                    </div>
                    <div class="col col-md-6 mb-3">
                      <%= label_tag :address_state, "State/County" %>
                      <%= text_field_tag :address_state, "East Sussex", data: { action: "keyup->stripe--account-company#hideErrorEnableSubmitBtn", target: "stripe--account-company.addressState stripe--account-company.requiredBusiness" }, class: "form-control" %>
                      <div class="text-danger d-none" data-target="state-error">Please enter your state/county</div>
                    </div>
                  </div>
                  <div class="row ml-1 mr-1">
                    <div class="col col-md-6 mb-3">
                      <%= label_tag :address_postal_code, "Post/Zip code" %>
                      <%= text_field_tag :address_postal_code, "BN1 4QR", data: { action: "keyup->stripe--account-company#hideErrorEnableSubmitBtn", target: "stripe--account-company.addressPostalCode stripe--account-company.requiredBusiness" }, class: "form-control" %>
                      <div class="text-danger d-none" data-target="postal_code-error">Please enter your post/zip code</div>
                    </div>
                    <div class="col col-md-6 mb-3">
                      <%= label_tag :address_country, "Country" %>
                      <%= country_select "", :country, { priority_countries: ["FR", "GB", "DE", "NL", "IT"], selected: "GB" }, class: "form-control customselect", required: true, autofocus: true, data: { action: "change->stripe--account-company#hideErrorEnableSubmitBtn", target: "stripe--account-company.addressCountry stripe--account-company.requiredBusiness" } %>
                      <div class="text-danger d-none" data-target="country-error">Please enter your country</div>
                    </div>
                  </div>
                  <div class="row ml-1 mr-1">
                    <div class="col col-md-6 mb-3">
                      <!-- TODO: could have help / pop ups with info on how to get these details, eg: https://e-justice.europa.eu/content_find_a_company-489-en.do -->
                      <!-- Stripe onboarding, they have labelled this: "Companies House Registration Number (CRN)" -->
                      <%= label_tag :company_number, "Company/registration number" %> 
                      <a class="ml-1" href="https://www.experian.co.uk/business-express/glossary/registration-number.html" target="_blank" data-toggle="tooltip" data-placement="top" data-tooltip="What is a Company/registration number?" data-tooltip-position="top">
                        <i class="fa fa-question-circle text-primary fa-lg"></i>
                      </a>
                      <%= text_field_tag :company_number, "07904724", data: { action: "keyup->stripe--account-company#hideErrorEnableSubmitBtn", target: "stripe--account-company.taxId" }, class: "form-control" %>
                      <div class="text-danger d-none" data-target="tax_id-error">Please enter your company number</div>
                    </div>
                    <div class="col col-md-6 mb-3">
                      <%= label_tag :vat_id, "VAT Number (optional)" %>
                      <%= text_field_tag :vat_id, "12345678", data: { action: "keyup->stripe--account-company#hideErrorEnableSubmitBtn", target: "stripe--account-company.vatId" }, class: "form-control" %>
                      <div class="text-danger d-none" data-target="vat_id-error">Please enter your VAT number</div>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <!-- TODO: can change this to be in French... https://stripe.com/fr/connect-account/legal#translation -->
                    I agree to the <a class="font-italic" href="https://stripe.com/gb/connect-account/legal" target="_blank">Stripe Connected Account Agreement</a>
                    <%= form.check_box :accepted_tos, required: true, data: { action: "change->stripe--account-company#hideErrorEnableSubmitBtn", target: "stripe--account-company.stripeTosCheckBox" } %>
                    <span><i> (required)</i></span>
                    <div class="text-danger d-none text-small" data-target="stripe--account-company.acceptedTosError">Please confirm you accept Stripe's Connected Account Agreement</div>
                  </div>
                  </fieldset>
                  <%= submit_tag "Next Step", class: "btn btn-primary btn-lg btn-block mt-4 mb-4", data: { target: "stripe--account-company.submitBtn" } %>
                <% end %>

                <%= form_with(url: guides_welcome_companies_path, local: true, class: "-needs-validation", html: { class: "new-guide-account-form", novalidate: :novalidate }, data: { target: "stripe--account-company.formToken" }) do |form| %>
                  <%= form.hidden_field :token_account, data: { target: "stripe--account-company.tokenAccount" } %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
