Hello <%= @booking.name %>. Successful booking on <%= @booking.trip_name %>
===============================================

<% if @booking.organisation_on_trial? %>
(As you're in trial, this is sent to you rather than a real guest, just so you can see what they will be sent). You'll need to <%= link_to "complete your set up", guides_trips_url %> to accept real bookings and money.</p>
<% end %>
 
Hi <%= @booking.guest_or_booking_name %>,
Your payment of <%= "#{Currency.iso_to_symbol(@booking.currency)} #{Currency.human_readable(@booking.last_payment.amount)}" %> has been successful and you're booked on to the <%= "#{@booking.trip_name}, #{@booking.start_date.day} - #{@booking.end_date.day} #{Date::MONTHNAMES[@booking.end_date.month]} #{@booking.end_date.year}" %>.

<% if @booking.only_paid_deposit? %>
  If this was a deposit payment, then the remainder will be automatically charged from your account, closer to the trip start date. If, in the unlikely event the trip is cancelled, then this deposit is automatically refunded to you.
  <% # To view your trip and update any of your details, please click this link:  TODO .%>
<% end %>

If you need to contact me, my email is <%= @booking.guide_email %>.

We'd like to thank you for joining us on this trip.

If there's anything we can help you with, or if you have any questions, please let us know. 

Thank you,

<%= @booking.guide_name.presence || @booking.guide_email %>
