<div class="p-2 col-sm-12 col-md-12 col-lg-8 d-none" data-target="stripe-account-individual.businessDetailsWrapper">
  <div class="col-md-12 mb-3">
    <h4 class="mb-3 font-weight-bold">Your Business Details</h4>
    <%= label_tag :address_line1 %><span class="small"><i> (e.g. house number & street, PO Box or company name)</i></span>
    <%= text_field_tag :address_line1, "21 Palmeira Street", class: "form-control", required: true, autofocus: true, data: { action: "keyup->stripe-account-individual#enableSubmitBtn", target: "stripe-account-individual.addressLine1 stripe-account-individual.requiredBusiness" } %>
    <div class="text-danger d-none">Please enter your address</div>
  </div>
  <div class="col-md-12 mb-3">
    <%= label_tag :address_line2 %><span class="small"><i> (e.g., apartment, suite, unit, or building)</i></span>
    <%= text_field_tag :address_line2, "Flat 10", class: "form-control", required: true, autofocus: true, data: { action: "keyup->stripe-account-individual#enableSubmitBtn", target: "stripe-account-individual.addressLine2 stripe-account-individual.requiredBusiness" }  %>
    <div class="text-danger d-none">Please enter your address</div>
  </div>
  <div class="row mr-1 ml-1">
    <div class="col-md-6 mb-3">
      <%= label_tag "City" %>
      <%= text_field_tag :address_city, "Brighton", class: "form-control", required: true, autofocus: true, data: { action: "keyup->stripe-account-individual#enableSubmitBtn", target: "stripe-account-individual.addressCity stripe-account-individual.requiredBusiness" }  %>
      <div class="text-danger d-none">Please enter your city</div>
    </div>
    <div class="col-md-6 mb-3">
      <%= label_tag "State/County" %>
      <%= text_field_tag :address_state, "East Sussex", class: "form-control", required: true, autofocus: true, data: { action: "keyup->stripe-account-individual#enableSubmitBtn", target: "stripe-account-individual.addressState stripe-account-individual.requiredBusiness" }  %>
      <div class="text-danger d-none">Please enter state/county</div>
    </div>
  </div>
  <div class="row mr-1 ml-1">
    <div class="col-md-6 mb-3">
      <%= label_tag "Post/Zip Code" %>
      <%= text_field_tag :address_postal_code, "BN1 4QR", class: "form-control", required: true, autofocus: true, data: { action: "keyup->stripe-account-individual#enableSubmitBtn", target: "stripe-account-individual.addressPostalCode stripe-account-individual.requiredBusiness" }  %>
      <div class="text-danger d-none">Please enter your post/zip code</div>
    </div>
    <div class="col-md-6 mb-3 pr-5">
      <%= label_tag :country %>
      <%= country_select "", :country, { priority_countries: ["FR", "GB", "DE", "NL", "IT"], selected: "FR" }, class: "form-control customselect", action: "change->stripe-account-individual#enableSubmitBtn", required: true, autofocus: true, data: { target: "stripe-account-individual.addressCountry stripe-account-individual.requiredBusiness" } %>
      <div class="text-danger d-none">">Please enter your country</div>
    </div>
  </div>
  <div class="col-md-12 mb-3">
    <%= form_with(url: guides_welcome_solos_path, local: true, html: { class: "new-guide-account-form" }, data: { target: "stripe-account-individual.form", stripe_account_individual_key: @current_organisation.stripe_publishable_key }) do |form| %>
    <%= form.hidden_field :token_account, data: { target: "stripe-account-individual.tokenAccount" } %>
    <p>
      <!-- TODO: can change this to be in French... https://stripe.com/fr/connect-account/legal#translation -->
      I agree to the <a class="font-italic" href="https://stripe.com/gb/connect-account/legal" target="_blank">Stripe Connected Account Agreement</a> 
      <%= form.check_box :accepted_tos, required: true, data: { action: "change->stripe-account-individual#enableSubmitBtn", target: "stripe-account-individual.stripeTosCheckBox" } %>
      <span><i> (required)</i></span>
    </p>
    <%= submit_tag "Next step", class: "btn btn-primary btn-lg btn-block mt-4 mb-4", disabled: true, data: { target: "stripe-account-individual.submitBtn" } %>
  <% end %>
  </div>
</div>
