<div class="container-fluid page-body-wrapper content">
  <div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-12">
          <div class="card card-shadow mt-5">
            <div class="card-body">
              <h1>Welcome Solo...</h1>
              <% if @current_organisation.stripe_account_id.nil? %>
                <h2>Your company and personal details</h2>
                <%= form_with(url: guides_welcome_solos_path, local: true, class: "-needs-validation", html: { class: "new-guide-account-form", novalidate: :novalidate }, data: { controller: "stripe-account-individual", target: "stripe-account-individual.form", stripe_account_individual_key: @current_organisation.stripe_publishable_key }) do |form| %>
                  <%= form.hidden_field :token_account, data: { target: "stripe-account-individual.tokenAccount" } %>
                  <fieldset>
                    <legend>Business Address</legend>
                    <%= label_tag :address_line1 %>
                    <%= text_field_tag :address_line1, "21 Palmeira Street", data: { target: "stripe-account-individual.addressLine1" } %>
                    <br/>
                    <%= label_tag :address_line2 %>
                    <%= text_field_tag :address_line2, "Flat 10", data: { target: "stripe-account-individual.addressLine2" }  %>
                    <br/>
                    <%= label_tag :address_city %>
                    <%= text_field_tag :address_city, "Brighton", data: { target: "stripe-account-individual.addressCity" }  %>
                    <br/>
                    <%= label_tag :address_state %>
                    <%= text_field_tag :address_state, "East Sussex", data: { target: "stripe-account-individual.addressState" }  %>
                    <br/>
                    <%= label_tag :address_postal_code %>
                    <%= text_field_tag :address_postal_code, "BN1 4QR", data: { target: "stripe-account-individual.addressPostalCode" }  %>
                    <br/>
                    <%= label_tag :address_country %>
                    <%= text_field_tag :address_country_code, "GB", data: { target: "stripe-account-individual.addressCountry" }  %>
                    <br/>
                    <%= label_tag :phone %>
                    <%= text_field_tag :phone, "0044079809477747", data: { target: "stripe-account-individual.phone" }  %>
                    <br/>
                    <br/>
                  </fieldset>

                  <fieldset>
                    <legend>Your details</legend>
                    <%= label_tag :dob_day %>
                    <%= text_field_tag :dob_day, "12", data: { target: "stripe-account-individual.dobDay" }  %>
                    <br/>
                    <%= label_tag :dob_month %>
                    <%= text_field_tag :dob_month, "12", data: { target: "stripe-account-individual.dobMonth" }  %>
                    <br/>
                    <%= label_tag :dob_year %>
                    <%= text_field_tag :dob_year, "1987", data: { target: "stripe-account-individual.dobYear" }  %>
                    <br/>
                    <%= label_tag :email %>
                    <%= text_field_tag :email, current_guide.email, data: { target: "stripe-account-individual.email" }  %>
                    <br/>
                    <%= label_tag :first_name %>
                    <%= text_field_tag :first_name, "Alan", data: { target: "stripe-account-individual.firstName" }  %>
                    <br/>
                    <%= label_tag :last_name %>
                    <%= text_field_tag :last_name, "Smith", data: { target: "stripe-account-individual.lastName" }  %>
                    <br/>
                    <%= label_tag :maiden_name %>
                    <%= text_field_tag :maiden_name, "", data: { target: "stripe-account-individual.maidenName" }  %>
                    <br/>
                    <%= label_tag :gender %>
                    <%= text_field_tag :gender, "male", data: { target: "stripe-account-individual.gender" }  %>
                    <br/>
                  </fieldset>
                  <p>
                    <!-- TODO: can change this to be in French... https://stripe.com/fr/connect-account/legal#translation -->
                    I agree to <a href="#">our terms</a> and the <a href="https://stripe.com/gb/connect-account/legal">Stripe Connected Account Agreement</a>
                    <%= form.check_box :accepted_tos, required: true, data: { target: "stripe-account-individual.acceptedTos" }  %>
                  </p>
                  <%= submit_tag :submit %>
                <% end %>
              <% else %>
                <h2>Your bank details...</h2>
                <!-- ref: https://stripe.com/docs/api/tokens/create_bank_account -->
                <%= form_with(url: guides_welcome_solos_path, local: true, class: "-needs-validation", html: { class: "new-guide-account-form", novalidate: :novalidate }, data: { controller: "stripe-bank-account", target: "stripe-bank-account.form", stripe_bank_account_key: @current_organisation.stripe_publishable_key }) do |form| %>
                    <%= form.hidden_field :token_account, data: { target: "stripe-bank-account.tokenAccount" } %>
                    <%= form.hidden_field :account_holder_type, data: { target: "stripe-bank-account.accountHolderType" }, value: "individual" %>
                    <fieldset>
                    <%= label_tag :account_number %>
                    <%= text_field_tag :account_number, "00012345", data: { target: "stripe-bank-account.accountNumber" } %>
                    <br/>
                    <%= label_tag :sort_code %>
                    <%= text_field_tag :routing_number, "108800", data: { target: "stripe-bank-account.routingNumber" } %>
                    <br/>
                    <%= label_tag :country %>
                    <%= text_field_tag :country, "GB", data: { target: "stripe-bank-account.country" } %>
                    <br/>
                    <%= label_tag :currency %>
                    <%= text_field_tag :currency, "GBP", data: { target: "stripe-bank-account.currency" } %>
                    <br/>
                    <%= label_tag :account_holder_name %>
                    <%= text_field_tag :account_holder_name, "Mr A Smith", data: { target: "stripe-bank-account.accountHolderName" } %>
                    <br/>
                    <br/>
                    <%= submit_tag :submit %>
                  </fieldset>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>