
<div class="navbar page-header bg-white border-bottom navbar-expand-sm navbar-light bg-light">
  <span class="my-0 mr-md-auto font-weight-normal">
    <% if guide_signed_in? %>
      <%= link_to main_app.guides_trips_path, class: "navbar-brand d-none d-sm-block" do %>
        <img src="<%= asset_pack_path 'media/images/logos/logo.svg' %>" />
      <% end %>
      <%= link_to main_app.guides_trips_path, class: "navbar-brand d-sm-none" do %>
        <img src="<%= asset_pack_path 'media/images/logos/logo-mini.svg' %>" />
      <% end %>
    <% else %>
      <%= link_to ENV.fetch("BASE_DOMAIN", "https://app.mybookingsherpa.com/guides/sign_in"), class: "navbar-brand" do %>
        <img src="<%= asset_pack_path 'media/images/logos/logo.svg' %>" />
      <% end %>
    <% end %>
  </span>
  <nav class="my-md-0 mr-md-3">
    <% if guide_signed_in? %>
    <ul class="navbar-nav ml-auto">
      <%= link_to(guides_trips_path, class: "btn btn-light mr-2") do %>
        My Trips
      <% end %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% #TODO: replace with real data %>
          <span class="fa-stack fa-1x nav-link-round">
            <i class="fa fa-user fa-2x"></i>
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <% if @current_organisation.onboarding_complete? && @current_organisation&.stripe_account_id %>
            <%= link_to stripe_account_link, target: "_blank", class: "dropdown-item" do %>
              <i class="fa fa-user"></i> Manage Account
            <% end %>
          <% end %>
          <%= link_to(destroy_guide_session_path, method: :delete, class: "dropdown-item") do %>
            <i class="fa fa-lock"></i> Sign Out
          <% end %>
        </div>
      </li>
    </ul>
  <% end %>
  </nav>
</div>

