<nav class="navbar page-header">
  <% if guide_signed_in? %>
    <%= link_to main_app.guides_trips_path, class: "navbar-brand d-none d-sm-block" do %>
      <img src="<%= asset_pack_path 'media/images/logos/logo.svg' %>" />
    <% end %>
    <%= link_to main_app.guides_trips_path, class: "navbar-brand d-sm-none" do %>
      <img src="<%= asset_pack_path 'media/images/logos/logo-mini.svg' %>" />
    <% end %>
  <% else %>
    <%= link_to ENV.fetch("BASE_DOMAIN", "https://app.mybookingsherpa.com/guides/sign_in"), class: "navbar-brand" do %>
      <img src="<%= asset_pack_path 'media/images/logos/logo.svg' %>" />
    <% end %>
  <% end %>
  <% if guide_signed_in? %>
    <ul class="navbar-nav ml-auto">
      <%= link_to(guides_trips_path, class: "dropdown-item mr-2") do %>
        My Trips
      <% end %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <% #TODO: replace with real data %>
          <span class="fa-stack fa-1x">
            <i class="fa fa-circle fa-stack-2x icon-background"></i>
            <i class="fa fa-user fa-stack-1x"></i>
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <% if @current_organisation&.stripe_account_id %>
            <%= link_to stripe_account_link, target: "_blank", class: "dropdown-item" do %>
              <i class="fa fa-user"></i> Manage Account
            <% end %>
          <% end %>
          <%= link_to(destroy_guide_session_path, method: :delete, class: "dropdown-item") do %>
            <i class="fa fa-lock"></i> Sign Out
          <% end %>
        </div>
      </li>
    </ul>
  <% else %>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <%= link_to(new_guide_session_path) do %>
          <i class="fa fa-lock"></i> Sign In
        <% end %>
      </li>
    </ul>
  <% end %>
</nav>
