<!DOCTYPE html>
<html>
  <head>
    <link rel="canonical" href="https://mybookingsherpa.com"/>
    <% if Rails.env.production? %>
      <%= render "layouts/vendor_code/google_tag_manager_head" %>
    <% end %>
    <title>MyBookingSherpa</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= stylesheet_pack_tag "application", "data-turbolinks-track": "reload" %>
    <script src="https://js.stripe.com/v3/"></script>
    <% if Rails.env.production? %>
      <%= render "layouts/vendor_code/drift" %>
    <% end %>
  </head>

  <body class="header-fixed">
    <% if Rails.env.production? %>
      <%= render "layouts/vendor_code/google_tag_manager_body" %>
    <% end %>
    <div class="page-wrapper">
      <%= render "layouts/nav_bar" %>
      <% if show_in_trial_banner? %>
        <%= render partial: "layouts/in_trial_banner", locals: { extra_top_margin: true } %>
      <% end %>
      <%= flash_messages %>
      <%= yield %>
    </div>
  </body>
</html>
