<!DOCTYPE html>
<html>
  <head>
    <title>Bookyourplace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="header-fixed">
    <div class="page-wrapper">
      <%= render "layouts/nav_bar" %>
      <%= yield %>
    </div>
  </body>
</html>
