<!DOCTYPE html>
<html>
  <head>
    <title><%= @trip&.organisation_name || @booking.organisation_name %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= stylesheet_pack_tag "application", "data-turbolinks-track": "reload" %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body class="header-fixed">
    <% if show_in_trial_banner? %>
      <%= render partial: "layouts/in_trial_banner", locals: { extra_top_margin: false, background_linear_start: "#dd3140", background_linear_end: "#bf1c2a" } %>
    <% end %>
    <div class="page-wrapper" data-s-key="<%= @booking.stripe_publishable_key %>">
      <%= flash_messages %>
      <%= yield %>
    </div>
  </body>
</html>
